@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap');

@font-face {
  font-family: 'Satoshi-Bold';
  src: url($satoshiPath + "Satoshi-Bold.eot");
  src: url($satoshiPath + "Satoshi-Bold.eot?#iefix") format('embedded-opentype'),
  url($satoshiPath + "Satoshi-Bold.woff") format('woff'),
  url($satoshiPath + "Satoshi-Bold.woff2") format('woff2'),
  url($satoshiPath + "Satoshi-Bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Medium';
  src: url($satoshiPath + "Satoshi-Medium.eot");
  src: url($satoshiPath + "Satoshi-Medium.eot?#iefix") format('embedded-opentype'),
  url($satoshiPath + "Satoshi-Medium.ttf") format('truetype'),
  url($satoshiPath + "Satoshi-Medium.woff") format('woff'),
  url($satoshiPath + "Satoshi-Medium.woff2") format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Regular';
  src: url($satoshiPath + "Satoshi-Regular.eot");
  src: url($satoshiPath + "Satoshi-Regular.eot?#iefix") format('embedded-opentype'),
  url($satoshiPath + "Satoshi-Regular.woff") format('woff'),
  url($satoshiPath + "Satoshi-Regular.woff2") format('woff2'),
  url($satoshiPath + "Satoshi-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
