.footer {

  background-color: $secondaryColor;
  .content{
    padding-left: 70px;
    padding-right: 70px;
    @include breakpoint(md){
      padding-left: 40px;
      padding-right: 40px;
    }
    @include breakpoint(xs38){
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  &__row {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
  }

  &__subscription {
  }

  .subscription {
    background-color: #E61053;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    &__img-circle{
      position: absolute;
      &--big{
        top: 17px;
        right: 42px;
      }
      &--small{
        top: 80px;
        right: 33px;
      }

    }
    &__img-gradient{
     position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &__img-lines{
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &__inner{
      padding: 46px 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 20px;
      @include breakpoint(lg){
        flex-direction: column;
        row-gap: 15px;
        padding-left: 40px;
        padding-right: 40px;
      }
      @include breakpoint(md){
        padding-left: 25px;
        padding-right: 25px;
      }
      @include breakpoint(sm){
        padding: 25px 15px;
      }
    }
    &__txt {
      position: relative;
      z-index: 1;
    }

    &__subtitle {
      font-family: 'Satoshi-Medium', sans-serif;
      font-size: 18px;
      line-height: 1.3;
      color: $mainColor;
      @include fluid-type(320px, $maxWidth, 16px, 18px);
      @include breakpoint(lg){
        text-align: center;
      }

    }

    &__title {
      font-family: 'Satoshi-Bold', sans-serif;
      font-size: 36px;
      line-height: 1.35;
      color: $mainColor;
      white-space: nowrap;
      @include fluid-type(320px, $maxWidth, 26px, 36px);
      @include breakpoint(lg){
        text-align: center;
      }
    }

    &__form {
      max-width: 460px;
      width: 100%;
      @include breakpoint(xs38){


      }
    }

    &__input-wrapper {
      position: relative;

      width: 100%;
      @include breakpoint(xs38){
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        align-items: center;
      }
    }

    &__input {
      padding: 0 155px 0 25px;
      height: 58px;
      display: flex;
      align-items: center;
      background: $mainColor;
      border-radius: 65px;
      width: 100%;
      @include breakpoint(md){
        padding: 0 140px 0 25px;
        height: 46px;
      }
      @include breakpoint(sm){
        padding: 0 105px 0 25px;
        height: 42px;
      }
      @include breakpoint(xs38){
        padding: 0 20px;
      }
    }

    &__submit-btn {
      position: absolute;
      padding: 14.5px 39.5px;
      background: #09080E;
      border-radius: 59px;
      font-family: 'Satoshi-Medium', sans-serif;
      font-size: 14px;
      line-height: 1.3;
      text-align: center;
      color: $mainColor;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      border: 1px solid #09080E;
      transition: .3s ease-in-out;
      @include breakpoint(md){
        padding: 0 30px;
        height: 40px;
        display: flex;
        align-items: center;
        right: 3px;
        @include fluid-type(320px, 758px, 12px, 14px);
      }
      @include breakpoint(sm){
        padding-left: 20px;
        padding-right: 20px;
        height: 34px;
        right: 4px;
      }
      @include breakpoint(xs38){
        position: static;
        transform: unset;
        height: auto;
        padding: 10px 25px;
        font-size: 16px;
      }
      &:hover{
        background-color: $mainColor;
        color: #09080E;
        @include breakpoint(xs38){
          background-color: rgba(0,0,0,0);
          color: $mainColor;
          border-color: $mainColor;

        }
      }
    }


  }


  &__content {
    display: flex;
    justify-content: space-between;
    column-gap: 35px;

    @include breakpoint(md){
      row-gap: 20px;
      flex-direction: column;
    }
  }

  &__company {
    max-width: 460px;

    @include breakpoint(md){
      max-width: 100%;
    }
  }

  &__txt {

  }

  .logo {
    display: flex;
    column-gap: 12px;
    align-items: center;

    &__wrapper {
      display: flex;
      svg{
        width: 33px;
      }

    }

    &__txt {
      font-family: 'Satoshi-Regular', sans-serif;
      font-size: 24px;
      line-height: 1.3;
      color: $mainColor;
      &--bold{
        font-family: 'Satoshi-Medium', sans-serif;
      }
    }

  }

  &__desc {
    font-family: 'Satoshi-Regular', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #8C8C8C;
    margin-top: 12px;
  }

  &__socials {
    display: flex;
    column-gap: 12px;
    margin-top: 36px;

    @include breakpoint(md){
      margin: 20px auto 0;
      flex-wrap: wrap;
      width: fit-content;
      row-gap: 12px;

    }
  }

  &__social-wrapper {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #25232A;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;

    &:hover{
      background-color: #D6377F;
    }

  }

  &__lists {
    display: flex;
    justify-content: space-between;
    max-width: 525px;
    width: 100%;
    column-gap: 20px;

    @include breakpoint(md){
      justify-content: space-around;
      max-width: 100%;
    }
    @include breakpoint(xs38){
      flex-direction: column;
      row-gap: 20px;
    }
  }

  .accordion {

    &__item {
    }

    &__header {
      font-family: 'Plus Jakarta Sans', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.25;
      color: $mainColor;
      background-color: unset;
      margin-bottom: 24px;


      @include breakpoint(xs38){
        width: 100%;
        text-align: start ;
        font-size: 20px;
        margin-bottom: 0px;

        &:after {
          content: '\002B';
          color: #777;
          font-weight: bold;
          float: right;
          margin-left: 5px;
        }
        &.active:after{
          content: "\2212";
        }
      }
    }

    &__body {
      @include breakpoint(xs38){
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      @include breakpoint(lg){
        row-gap: 16px;
      }
      @include breakpoint(xs38){
        row-gap: 12px;
        padding-top: 15px;
      }

    }

    &__list-item {
    }

    &__link {
      font-family: 'Satoshi-Regular', sans-serif;
      font-size: 14px;
      line-height: 1.3;
      color: #8C8C8C;
      position: relative;
      width: fit-content;
      white-space: nowrap;

      @include breakpoint(xs38){
        font-size: 16px;
      }
      &:before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 1px;
        background-color: #8C8C8C;
        opacity: 0;
        transition: .3s ease-in-out;
      }
      &:hover{
        &:before{
          opacity: 1;
        }
      }
      &:visited{
        color:#8C8C8C;
      }
    }
  }


  &__rights-wrapper {
  }

  &__rights {
    font-family: 'Satoshi-Medium', sans-serif;
    font-size: 14px;
    line-height: 1.3;
    color: #8C8C8C;
    text-align: center;
    padding: 24px 0 28px;
    border-top: 1px solid #444851;
    @include breakpoint(sm){
      padding: 16px 0 20px;
    }
  }
}