@import "mixins";

.content{
  max-width: $maxWidth;
  margin: 0 auto;
}

body{
  font-family: 'Satoshi-Regular', sans-serif;
  font-size: 16px;
  color: #000;

  &.lock{
    overflow: hidden;
  }
}

.background-center{
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}