
.header{
  background-color: $secondaryColor;
  //padding-top: 21px;
  @include breakpoint(md){
    //padding-top: 10px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 15px 0;
  z-index: 2;
  background-color: $secondaryColor;
  //height:50px;
  @include breakpoint(md){
    padding-top: 10px;
  }
  @include breakpoint($navBreakpoint){
    position: fixed;
    width: 100%;
  }
  .ticket{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #D6377F;
    transition: .3s ease-in-out;
    margin-left: 24px;
    column-gap: 12px;

    &:hover{
      background-color: #8f2253;
    }
    @include breakpoint($navBreakpoint){
      margin:15px 0 0;
    }
    &__svg-wrapper{
      display: flex;
      min-width: 20px;
    }
    &__txt{
      font-family: 'Satoshi-Bold', sans-serif;
      font-size: 16px;
      white-space: nowrap;
      line-height: 1.3;
      letter-spacing: 0.01em;
      color: $mainColor;
    }

  }
  .logo{
    display: flex;
    column-gap: 12px;
    align-items: center;
    margin-right: 15px;
    &__svg-wrapper{
      //width: 100%;
      width: 55px;
      @include breakpoint(lg){
        width: 50px;
      }
      @include breakpoint(md){
        width: 45px;
      }
      @include breakpoint(sm){
        width: 35px;
      }
    }
    &__txt{
      white-space: nowrap;
      font-size: 24px;
      line-height: 1.3;
      color: $mainColor;
      @include fluid-type(breakpointsValToPix($navBreakpoint), $maxWidth, 20px, 24px);
      @include breakpoint($navBreakpoint){
        @include fluid-type(380px, breakpointsValToPix($navBreakpoint), 18px, 24px);
      }
      &:visited{
        color: $mainColor;
      }

    }
    &__txt--bold{
      @extend .logo__txt;
      font-family: 'Satoshi-Bold', sans-serif;
    }
  }
  &__list{
    display: flex;
    column-gap:24px;
    flex-wrap: wrap;
    row-gap: 5px;
    @include breakpoint(xl){
      column-gap: calc(100vw / 55);
    }
    @include breakpoint($navBreakpoint){
      //padding-top:2.5rem;
      flex-direction: column;
      text-align: center;
      justify-content: start;
      margin: 0 auto;
    }
  }

  &__menu {
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.active{
      @include breakpoint($navBreakpoint){
        left: 0;
        height: 100%;
        z-index: 4;
      }
    }

    @include breakpoint($navBreakpoint){
      justify-content: start;
      flex-direction: column;
      padding-top: 60px;
      height: 100%;
      position: fixed;
      left: -100%;
      top:0;
      background-color: $secondaryColor;
      width: 100%;
      transition: 0.3s;
      box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
    }
  }

  &__item {
    @include breakpoint($navBreakpoint){
      margin:2.5rem 0;
    }
  }

  &__link{
    color: $mainColor;
    font-size: 16px;
    line-height: 1.3;
    white-space: nowrap;
    position: relative;
    width: fit-content;
    &:hover{
      color: $mainColor;
      &:before{
        opacity: 1;
      }
    }
    @include breakpoint(xl){
      @include fluid-type(breakpointsValToPix($navBreakpoint), $maxWidth, 15px, 16px);
    }
    @include breakpoint($navBreakpoint){
      font-size: 20px;
      @include fluid-type(380px, breakpointsValToPix($navBreakpoint), 16px, 20px);
    }
    &:before{
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $mainColor;
      display: block;
      left: 0;
      bottom: 0;
      transition: .3s ease-in-out;
      opacity: 0;
    }
  }

  &__logo {

  }
}

.hamburger {
  display: none;
  background-color: unset;
  &:focus{
    //background-color: tomato;
  }
  @include breakpoint($navBreakpoint){
    display: flex;
    flex-direction:column;
    row-gap: 5px;
    cursor: pointer;
    position: relative;
    z-index: 10;

    &.active .hamburger__bar:nth-child(2) {
      opacity: 0;
    }
    &.active .hamburger__bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    &.active .hamburger__bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  &__bar {
    display: block;
    width: 25px;
    height: 3px;
    transition: all 0.3s ease-in-out;
    background-color: $mainColor;
  }
}




