/*######### HERO #########*/

.hero {

  background: $secondaryColor;
  overflow: hidden;

  @include breakpoint(xl){
    padding-left: 40px;
    padding-right: 40px;
  }
  @include breakpoint(md){
    padding-left: 15px;
    padding-right: 15px;
  }
  .content{
    padding-top: 80px;
    padding-bottom: 50px;
    position: relative;
    @include breakpoint($navBreakpoint){
      padding-top: 120px;
    }
  }
  &__row {
    display: flex;
    flex-direction: column;
  }

  &__title-wrapper {
  }
  &__img{
    position: absolute;

    &-halves{
      width: 44px;
      height: 31px;
      right: 33px;
      top: 165px;

      @include breakpoint(xl){
        top: calc(100vw / 8);
        right: calc(100vw / 40);
      }
      @include breakpoint(md){
        top: calc(100vw / 2);
      }
    }
    &-circles{
      left: 56px;
      top: 204px;
      width: 54px;
      height: 54px;

      @include breakpoint(xl){
        left: calc(100vw / 23);
        top: calc(100vw / 6.4);
      }
    }
    &-waves{
      right: -100px;
      bottom: 155px;
      width: 132px;
      height: 36px;

      @include breakpoint(xl){
        right: calc(100vw / -13);
        bottom: calc(100vw / 8.6);
        width: calc(100vw / 9.85);
        height: auto;
      }
      @include breakpoint(sm){
        width: calc(100vw / 7);
      }

    }
  }

  &__title {
    opacity: 0;
    font-family: 'Satoshi-Bold', sans-serif;
    font-size: 85px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: -0.03em;
    font-weight: 700;
    background-image: linear-gradient(135deg, #5EFCE8 0%, #736EFE 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    @include fluid-type(320px, $maxWidth, 36px, 85px);
  }

  &__desc {
    opacity: 0;
    margin: 8px auto 0;
    font-family: 'Satoshi-Regular', sans-serif;
    font-size: 18px;
    line-height: 1.3;
    text-align: center;
    color: #A6A6A6;
    max-width: 850px;
    @include fluid-type(320px, $maxWidth, 14px, 18px);
    @include breakpoint(lg){
      margin-top: 30px;
    }
    @include breakpoint(md){
      margin-top: 15px;
    }
  }

  &__date-wrapper {

    margin-top: 24px;

  }

  &__date {
    opacity: 0;
    font-family: 'Satoshi-Medium',sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 1.3;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    display: block;
    @include fluid-type(320px, $maxWidth, 20px, 24px);
    @include breakpoint(lg){
      margin-bottom: 10px;
    }
    @include breakpoint(md){
      margin-bottom: 6px;
    }
    @include breakpoint(sm){
      margin-top: 3px;
    }
  }

  &__location {
    opacity: 0;
    font-family: 'Satoshi-Regular',sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    color: #FFFFFF;
    @include fluid-type(320px, $maxWidth, 14px, 16px);

  }

  &__btn {

  }

  .btn {
    opacity: 0;
    width: 60px;
    height: 60px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%2361E8EC' stroke-width='1' stroke-dasharray='2' stroke-dashoffset='28' stroke-linecap='butt'/%3e%3c/svg%3e");
    border-radius: 100px;
    background-color: $secondaryColor;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto 0;

    @include breakpoint(md){
      margin-top: 45px;
    }
    @include breakpoint(sm){
      margin-top: 30px;
    }
    &:before{
      content: '';
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      display: block;
      background: linear-gradient(to top,$secondaryColor 25%, rgba(0,0,0,0));
      opacity: 1;
      transition: .3s ease-in-out;
    }

    &:hover{
      &:before{
        opacity: 0;
      }
      svg{
        transform: scale(1.2);
      }
    }

    &__svg-wrapper{
      position: relative;
      display: flex;
      //z-index: 2;
      svg{
        transition: .3s ease-in-out;
      }
    }
  }


}

/*######### HERO END #########*/

/*######### COMMUNITY #########*/

.community {
  padding: 127px 0 35px;
  background-image: url("../img/community.jpg");
  background-color: $secondaryColor;
  @include cover-background;

  @include breakpoint(xl){
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 100px;
  }
  @include breakpoint(md){
    padding-top: 80px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @include breakpoint(sm){
    padding-top: 60px;
  }

  .content {
    position: relative;
  }

  &__triangles {
    position: absolute;
    z-index: 0;
    left: -16px;
    bottom: 42px;
    @include breakpoint(xl){
      bottom: calc(100vw / 31);
      left: 16px;
    }
  }

  &__row {
    padding-left: 100px;
    position: relative;
    z-index: 1;
    @include breakpoint(xl){
      padding-left: calc(100vw / 13);
    }
    @include breakpoint(lg){
      padding-left: 0;
    }
  }

  &__title {
    opacity: 0;
    margin-bottom: 80px;
    font-family: 'Satoshi-Bold', sans-serif;
    font-size: 65px;
    line-height: 1.35;
    color: $mainColor;
    max-width: 645px;
    @include fluid-type(320px, $maxWidth, 32px, 65px);

    @include breakpoint(lg){
      margin: 0 auto 80px;
      text-align: center;
    }
    @include breakpoint(md){
      margin-bottom: 60px;
    }
  }

  &__cards {
    display: flex;
    column-gap: 16px;
    @include breakpoint(md){
      flex-wrap: wrap;
      gap: 16px;
    }
    @include breakpoint(sm){
      row-gap: 10px;
    }
  }

  &__card {

  }

  .card {
    opacity: 0;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 50px 15px;
    width: 300px;
    justify-content: center;
    background: linear-gradient(rgba(21, 26, 37, .8), rgba(21, 26, 37, .8));
    @include breakpoint(lg){
      padding: 45px 15px;
    }
    @include breakpoint(md){
      flex-basis: calc(50% - 8px);
    }
    @include breakpoint(sm){
      padding: 35px 10px;
      flex-basis: 100%;
    }
    &:last-child{
      @include breakpoint(md){
        flex-basis: 100%;
      }
    }
    &__svg-wrapper {
      display: flex;
      width: fit-content;
      margin: 0 auto;
    }

    &__title {
      font-family: 'Satoshi-Medium', sans-serif;
      font-style: normal;
      font-size: 24px;
      line-height: 1.3;
      color: $mainColor;
      text-align: center;
      @include fluid-type(768px, $maxWidth, 20px, 24px);
    }
  }
}

/*######### COMMUNITY END #########*/

/*######### MEETUP #########*/

.meetup {
  overflow: hidden;
  background-color: $secondaryColor;


  @include breakpoint(xl){
    padding-left: 40px;
    padding-right: 40px;
  }
  @include breakpoint(md){
    padding-left: 15px;
    padding-right: 15px;
  }
  .content {
    position: relative;
    padding: 130px 0;

    @include breakpoint(md){
      padding: 100px 0;
    }
    @include breakpoint(sm){
      padding: 70px 0 80px;
    }
  }

  &__circles {
  }

  &__row {
    display: flex;
    align-items: center;
    column-gap: 68px;

    @include breakpoint(sm){
      flex-direction: column-reverse;
      align-items: unset;
    }
  }

  &__l-content {
    max-width: 645px;
  }

  &__title {
    font-family: 'Satoshi-Bold', sans-serif;
    font-style: normal;
    font-size: 48px;
    line-height: 1.35;
    color: $mainColor;
    margin-bottom: 16px;

    @include fluid-type(320px, $maxWidth, 28px, 48px);
  }

  &__desc {

    font-family: 'Satoshi-Regular', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.3;
    color: $mainColor;
    max-width: 545px;
    @include fluid-type(320px, $maxWidth, 12px, 16px);
  }

  &__info {
    display: flex;
    column-gap: 36px;
    margin-top: 48px;

    @include breakpoint(lg){
      flex-direction: column;
      row-gap: 20px;
    }
    @include breakpoint(sm){
      margin-top: 30px;
    }

  }

  &__date-wrapper {
    display: flex;
    column-gap: 16px;
    align-items: center;

    @include breakpoint(sm){
      svg{
        width: 20px;
      }
    }
  }

  &__svg-wrapper {
    width: 60px;
    height: 60px;
    min-width: 60px;
    border-radius: 50%;
    background: linear-gradient(rgba(214, 55, 127, .2),rgba(214, 55, 127, .2));
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint(sm){
      width: 45px;
      min-width: 45px;
      height: 45px;

      svg{

      }
    }
  }

  &__txt {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  &__txt-title {
    font-family: 'Satoshi-Medium', sans-serif;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.01em;
    color: $mainColor;
    @include fluid-type(320px, $maxWidth, 14px, 18px);
  }

  &__txt-desc {
    font-family: 'Satoshi-Regular', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    color: #CECECF;
    @include fluid-type(320px, $maxWidth, 12px, 16px);

  }

  &__location-wrapper {
    @extend .meetup__date-wrapper;

    .meetup__txt{
      max-width: 340px;
    }
    @include breakpoint(sm){
      svg{
        width: 16px;
      }
    }
  }
  &__l-img-btn{
   width: fit-content;
  }
  &__show-btn{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-top: 22px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%2361E8EC' stroke-width='1' stroke-dasharray='2' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
    border-radius:50%;

    @include breakpoint(sm){
      width: 40px;
      height: 40px;
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%2361E8EC' stroke-width='1' stroke-dasharray='2' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
    }

    &:before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      background: linear-gradient(to left, $secondaryColor ,rgba(0,0,0,0));
      opacity: 1;
      transition: .3s ease-in-out;
    }
    &:hover{
      &:before{
        opacity: 0;
      }
      svg{
        transform: scale(1.2);
        @include breakpoint(sm){
          width: 14px;
        }
      }
    }
    svg{
      transition: .3s ease-in-out;
    }
    span{
      display: flex;
      position: relative;z-index: 1;
    }
  }
  &__buttons-wrapper {
    margin-top: 48px;
    display: flex;
    column-gap: 24px;

    @include breakpoint(sm){
      width: fit-content;
      margin: 30px auto 0;

    }
    @include breakpoint(xs38){
      flex-direction: column;
      row-gap: 12px;
      width: 100%;
    }
  }

/*  &__ticket-btn {
    @include breakpoint(xs38){

    }

  }*/
  .meetup__btn{
    border-radius: 5px;
    color: $mainColor;
    padding: 11px 20px;
    @include breakpoint(xs38){
      justify-content: center;
    }
  }
  .ticket {
    @extend .meetup__btn;
    display: flex;
    column-gap: 12px;
    align-items: center;
    background-color: #D6377F;
    transition: .3s ease-in-out;

    &:hover{
      background-color: #a22960;
    }
    &__svg-wrapper {
      display: flex;
      min-width: 20px;
    }

    &__txt {
      font-family: 'Satoshi-Bold', sans-serif;
      font-size: 16px;
      line-height: 1.3;
      letter-spacing: 0.01em;
      color: $mainColor;
      white-space: nowrap;
    }
  }



  &__more-btn {
    @extend .meetup__btn;
    white-space: nowrap;
    border: 1px solid $mainColor;
    font-family: 'Satoshi-Medium', sans-serif;
    letter-spacing: 0.01em;
    font-size: 16px;
    line-height: 1.3;
    transition: .3s ease-in-out;

    @include breakpoint(xs38){
      display: flex;
    }
    &:hover{
      color: $secondaryColor;
      background-color: $mainColor;
    }
  }

  &__images {
    position: relative;
    flex: 1;
    @include breakpoint(sm){
      display: flex;
      justify-content: center;
      column-gap: 20px;
      margin-bottom: 60px;
    }
    @include breakpoint(xs38){
      column-gap: 10px;
      margin-bottom: 40px;
    }
  }

  &__img-wrapper {
    height: 600px;
    overflow: hidden;
    position: relative;
    border-right: 10px;

    &--left{
      width: 350px;
      z-index: 1;

      @include breakpoint(lg){
        width: calc(100vw / 4);
        height: 0;
        padding-bottom: 170%;
      }
      @include breakpoint(sm){
        width: calc(100vw / 2.3);
        padding-bottom: 140%;
      }
    }
    &--right{
      position: absolute;
      width: 285px;
      top: 84px;
      right: -50px;
      //left: 400px;
      //right: calc(-100% - 24px);
      @include breakpoint(xl){
        display: none;
      }
      @include breakpoint(sm){
        display: block;
        width: calc(100vw / 2.7);
        //top: unset;
        right: unset;
        position: relative;
        height: 0;
        padding-bottom: 70%;
        top: 55px;
      }
    }
    /*@include breakpoint(xs38){
      padding-bottom: 72%;
    }*/
  }



/*  &__img-wrapper--right{
    width: 285px;
    height: 600px;
  }*/

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__img--general{
    position: absolute;
  }
  &__img-lines{
    @extend .meetup__img--general;
    bottom: 50px;
    left: -90px;
    height: auto;
    @include breakpoint(xl){
      width: calc(100vw / 13);
      left: calc(100vw / -14.4);
    }
    @include breakpoint(sm){
      left: -25px;
      width: 100px;
    }
  }
  &__img-circles{
    @extend .meetup__img--general;
    left: -50px;
    bottom: 70px;
    @include breakpoint(xl){
      left: 0;
    }
    @include breakpoint(md){
      bottom: 35px;
    }

  }
  &__img-waves{
    @extend .meetup__img--general;
    top: 0;
    right: -50px;
    @include breakpoint(xl){
      top: -75px;
      width: calc(100vw / 7);
      right: calc(100vw / -26);
    }
    @include breakpoint(sm){
      width: calc(100vw / 5);
      top: 0;
    }
  }

  .hero__btn {
  }

  .btn {
  }

  .btn__svg-wrapper {
  }


}

/*######### MEETUP END #########*/

/*######### SCHEDULE #########*/

.schedule {
  padding: 80px 0;
  //display: none;

  &__row {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    padding-left: 90px;
    padding-right: 90px;
    @include breakpoint(lg){
      padding-left: 50px;
      padding-right: 50px;
    }
    @include breakpoint(md){
      padding-left: 30px;
      padding-right: 30px;
      row-gap: 45px;
    }
    @include breakpoint(sm){
      padding-left: 15px;
      padding-right: 15px;
      row-gap: 30px;
    }
  }

  &__header {
    display: grid;
    grid-template-columns: 15% auto 1fr;
    align-items: center;
    column-gap: 37px;
    @include breakpoint(lg){
      column-gap: 30px;
    }
    @include breakpoint(md){
      grid-template-columns: auto auto 1fr;
    }
    @include breakpoint(sm){
      row-gap: 10px;
      grid-template-columns: auto 1fr;
      column-gap: 20px;
      align-items: start;
    }
    @include breakpoint(sm){
      //grid-template-columns: auto 1fr;
    }
    //@include breakpoint()
  }

  &__title-wrapper {

  }
  &__svg-block{
    //width: 15%;
    @include breakpoint(md){
      width: fit-content;
    }
    @include breakpoint(sm){
      position: relative;
      top: 5px;

      svg{
        width: 40px;
      }
    }
  }
  &__svg-wrapper {
    display: flex;

    justify-content: end;
  }

  &__title {
    font-family: 'Satoshi-Bold', sans-serif;
    font-size: 56px;
    line-height: 1.35;
    //text-align: center;
    letter-spacing: -0.03em;
    color: $secondaryColor;
    white-space: nowrap;
    @include fluid-type(320px, $maxWidth, 26px, 56px);
  }

  &__tabs-panel {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    @include breakpoint(sm){
      row-gap: 15px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
      width: 100%;
    }
  }

  .tabs-panel {

  }
  &__tabs-outer{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    column-gap: 25px;
    @include breakpoint(sm){
      grid-column: 1/3;
      //flex-wrap: wrap;
    }
  }
  .tabs-panel__link {
    height: fit-content;
    background: $mainColor;
    border: 0.5px solid #C1C1C1;
    border-radius: 5px;
    font-family: 'Satoshi-Regular', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    color: #0C0C0C;
    padding: 10px 20px;
    transition: .3s ease-in-out;
    white-space: nowrap;
    @include breakpoint(md){
      @include fluid-type(576px, 768px, 14px, 16px);
      padding: 8px 16px;
    }
    &:hover{
      background-color: $secondaryColor;
      color: $mainColor;
    }
    &.active{
      border-top: unset;
      border-right: unset;
      border-left: unset;
      border-bottom: 2px solid #E0E0E0;
      font-family: 'Satoshi-Bold', sans-serif;
      background-color: $secondaryColor;
      color: $mainColor;
      &:hover{
        box-shadow: 0 0 15px rgba(21,26,37, .3);
      }
    }
  }

  &__body {
  }

  &__tabs-content {
    display: none;
    animation: fadeEffect 1s;

    @keyframes fadeEffect {
      from {opacity: 0;}
      to {opacity: 1;}
    }
  }

  .tab-item {
  }

  &__events {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  &__event {
    display: flex;
    column-gap: 37px;
    @include breakpoint(lg){
      column-gap: 30px;
    }
    @include breakpoint(md){
      column-gap: 15px;
    }
    @include breakpoint(sm){

    }

    &:first-child{
      .event-info__details-btn{
        background-color: #D6377F;
        color: $mainColor;

        &:visited{
          color: $mainColor;
        }
        &:hover{
          background-color: $mainColor;
          color: #363636;
        }
      }
    }
  }

  &__time-wrapper {
    display: flex;
    column-gap: 29px;
    align-items: center;
    justify-content: end;
    width: 15%;
    @include breakpoint(md){
      writing-mode: tb-rl;
      justify-content: center;
      transform: rotate(-180deg);
      width: fit-content;
    }
    @include breakpoint(sm){
      display: none;
    }
  }

  &__circle {
    width: 10px;
    min-width: 10px;
    height: 10px;
    background: #676767;
    border-radius: 50%;
    position: relative;
    @include breakpoint(md){
      display: none;
      //position: absolute;
    }
  }
  &__vertical-line{
    background: #676767;
    border-radius: 5px;
    width: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% + 15px);


  }

  &__time {
    font-family: 'Satoshi-Bold', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: -0.03em;
    color: #676767;
    white-space: nowrap;
    min-width: 70px;
    @include breakpoint(md){
      min-width: unset;
    }
    @include fluid-type(768px, $maxWidth, 14px, 16px);
    @include breakpoint(md){

      font-size: 16px;
    }
    @include breakpoint(sm){

      //top: 50%;
    }
  }

  &__time-val {

  }

  &__time-midnight {
  }

  &__event-desc{
  }

  .event-info {

    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 20px;
    padding: 20px;
    flex: 1;
    //display: flex;
    background: $mainColor;
    border: 0.5px solid #D0D0D0;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    @include breakpoint(md){
      //margin-left: 30px;
    }
    @include breakpoint(sm){
      padding: 15px;

    }

    &__txt {
      grid-row: 1/2;
      grid-column: 1/2;
      @include breakpoint(sm){
        grid-column: 1/3;
      }
    }

    &__title {

      font-family: 'Satoshi-Bold', sans-serif;
      font-size: 24px;
      line-height: 1.3;
      color: #000000;
      margin-bottom: 12px;
      @include fluid-type(768px, $maxWidth, 20px, 24px);

    }

    &__details {
      display: flex;
      column-gap: 24px;
      align-items: center;
      margin-bottom: 16px;
      @include breakpoint(sm){
        flex-wrap: wrap;
        row-gap: 7px;
        justify-content: space-between;
      }
      @include breakpoint(xs38){
      }
    }

    &__time-range {
    }
    &__location-wrapper {
      @include breakpoint(xs38){
        column-gap: 4px;
        padding-left: 4px;
      }
    }
    &__btn-wrapper{
      grid-row: 2/3;
      grid-column: 1/2;

    }
    &__details-btn {
      font-family: 'Satoshi-Medium', sans-serif;
      font-size: 16px;
      line-height: 1.3;
      color: #363636;
      border: 1px solid #D6377F;
      border-radius: 5px;
      padding: 10px 20px;
      transition: .3s ease-in-out;
      display: block;
      width: fit-content;
      &:visited{
        color: #363636;
      }
      &:hover{
        background-color: #D6377F;
        color: $mainColor;
      }
      @include breakpoint(md){
        padding: 8px 16px;
        @include fluid-type(576px, 768px, 14px, 16px);
      }
    }

    &__speakers {

    }
  }

  .period {
    display: flex;
    column-gap: 4px;
    &__svg-wrapper {
      display: flex;
    }

    &__wrapper {
      font-family: 'Satoshi-Regular', sans-serif;
      font-size: 16px;
      line-height: 1.3;
      color: #676767;
      @include fluid-type(768px, $maxWidth, 14px, 16px);
    }

    &__beginning-time {
    }

    &__midnight {
    }
  }

  .location {
    display: flex;
    column-gap: 11px;
    &__svg-wrapper {
      display: flex;
    }

    &__name {
      @extend .period__wrapper;
    }
  }

  .speakers-sch {
    display: flex;
    padding-right: 15px;
    grid-row: 1/3;
    grid-column: 2/3;
    @include breakpoint(md){
      //padding-right: ;
    }
    @include breakpoint(sm){
      grid-row: 2/3;
    }
    &__img-max-w{
      width: 33px;
      @include breakpoint(md){
        width: 25px;
      }
      @include breakpoint(sm){
        width: 17px;
      }
    }
    &__img-wrapper {
      width: 48px;
      height: 48px;
      border: 1px solid $mainColor;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
      @include breakpoint(md){
        width: 40px;
        height: 40px;
      }
      @include breakpoint(sm){
        width: 32px;
        height: 32px;
      }

      &:nth-child(2){
        //left: 15px;
      }
    }

    &__photo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform:translate(-50%, -50%);
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }


}

/*######### SCHEDULE END #########*/


/*######### SPEAKERS #########*/
.speakers {
  background-color: $secondaryColor;
  padding: 100px 0;
  overflow: hidden;

  @include breakpoint(xl){
    padding: 80px 40px;
  }
  @include breakpoint(md){
    padding: 60px 15px;
  }
  @include breakpoint(sm){
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__row {
    display: flex;
    column-gap: 54px;
    @include breakpoint(xl){
      column-gap: calc(100vw / 25);
    }
    @include breakpoint(lg){
      align-items: center;
    }
    @include breakpoint(md){
      flex-direction: column-reverse;
      row-gap: 20px;
    }
  }

  &__slider-outer {
    //flex: 1;
    width: 58%;
    @include breakpoint(lg){
      width: 50%;
    }
    @include breakpoint(md){
      width: 100%;
    }
  }

  &__slider {
    //ius: 20px;
    //overflow: hidden;
    clip-path: inset( -100vw 0 -100vw -100vw );
  }


  .swiper-slider {
  }
  .slider-wrapper {
  }
  .speakers__slide-outer{
    width: 360px;
    @include breakpoint(xl){
      width: calc(100vw/3.61);
    }
  }
  .slide__inner{
    width: 100%;
    height: 0;
    padding-bottom: 130%;
    position: relative;

    &:before{
      content: '';
      position: absolute;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #020202 100%);
      width: 100%;
      height: 54%;
      left: 0;
      bottom: 0;
      display: block;
      transition: .4s ease-in-out;
    }
    &:hover{
      .slide__content{
        bottom: 50%;
        transform: translateY(50%);
      }
      &:before{
        height: 100%;
      }
    }
  }
  .swiper-slide {
    //max-width: 360px;
  }

  &__slide {
  }

  .slide {
    &__content{
      position: absolute;
      width: 100%;
      z-index: 1;
      bottom: 0;
      padding: 13px 32px;
      transition: .3s ease-in-out;
    }
    &__sp-img {
    }

    &__sp-name {
      font-family: 'Satoshi-Bold', sans-serif;
      font-size: 24px;
      line-height: 1.3;
      color: $mainColor;

    }

    &__sp-position {

      font-family: 'Satoshi-Regular', sans-serif;
      font-size: 16px;
      line-height: 1.3;
      color: #D8D8D8;
    }

    &__sp-socials {
      margin-top: 12px;
      display: flex;
      column-gap: 12px;
    }

    &__sp-social {

      svg{
        transition: .3s ease-in-out;
      }
      &:hover{
        svg{
          transform:scale(1.3);
        }
      }
    }
  }

  &__txt {
    max-width: 42%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 15px;
    @include breakpoint(lg){
      max-width: 50%;
    }
    @include breakpoint(md){
      max-width: 100%;
    }
  }

  &__title {
    font-family: 'Satoshi-Bold', sans-serif;
    font-size: 56px;
    line-height: 1.35;
    text-transform: capitalize;
    color: $mainColor;
    margin-top: 22px;
    @include fluid-type(992px, $maxWidth, 42px, 56px);
    @include breakpoint(lg){
      @include fluid-type(768px, 992px, 30px, 42px);
    }
    @include breakpoint(lg){
      @include fluid-type(320px, 992px, 26px, 42px);
      margin-top: 0;
    }

  }

  &__desc {
    font-family: 'Satoshi-Regular', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    color: $mainColor;
    margin-top: 24px;
    @include fluid-type(768px, $maxWidth, 14px, 16px);
    @include breakpoint(md){
      @include fluid-type(320px, 768px, 12px, 14px);
    }
  }

  &__all-btn {
    padding: 10px 20px;
    border: 1px solid #D6377F;
    border-radius: 5px;
    font-family: 'Satoshi-Medium', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    color: $mainColor;
    transition: .3s ease-in-out;
    display: inline-block;
    margin-top: 36px;
    @include fluid-type(380px, 768px, 14px, 16px);

    @include breakpoint(xs38){
      width: 100%;
      margin-top: 24px;
    }
    &:visited{
      color: $mainColor;
    }
    &:hover{
      background-color: #D6377F;
      //color: $secondaryColor;
    }
  }

  &__slider-nav {
    display: flex;
    column-gap: 8px;
    @include breakpoint(xs38){
      margin: 0 auto;
      column-gap: 12px;
    }
  }

  &__nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: #232B3C;
    border-radius: 5px;
    transition: .3s ease-in-out;
    &:not(:disabled){
      background-color: #D6377F;
    }
    svg{
      transition: .3s ease-in-out;
    }
    &:hover{
      &:not(:disabled){
        background-color: #232B3C;
      }
      /*&:disabled{
        border: 1px solid #D6377F;
      }*/
      border: 1px solid #D6377F;
      svg{
        transform: scale(1.2);
      }
    }
  }

  &__prev {
  }

  &__next {
  }
}

/*######### SPEAKERS END #########*/

/*######### DESIGNERS #########*/

.designers {
  padding: 100px 0;

  @include breakpoint(xl){
    padding: 80px 40px;
  }
  @include breakpoint(md){
    padding: 60px 15px;
  }
  @include breakpoint(sm){
    padding-top: 40px;
    padding-bottom: 40px;
  }



  &__row {
  }
  &__header{
    max-width: 600px;
    margin: 0 auto 48px;

  }
  &__subtitle {
    font-family: 'Satoshi-Medium', sans-serif;
    font-size: 24px;
    line-height: 1.3;
    text-align: center;
    color: $secondaryColor;
    @include fluid-type(320px, $maxWidth, 16px, 24px);
  }

  &__title {
    font-family: 'Satoshi-Bold', sans-serif;
    font-size: 56px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: -0.03em;
    color: $secondaryColor;
    @include fluid-type(768px, $maxWidth, 30px, 56px);
    @include breakpoint(md){
      @include fluid-type(320px, 768px, 26px, 30px);
    }
    @include breakpoint(sm){
      margin-top: 8px;
    }

  }

  &__cards {
    display: flex;
    gap: 20px;

    @include breakpoint(xl){
      flex-wrap: wrap;
      justify-content: center;
    }
    @include breakpoint(md){
      display: grid;
      grid-template-columns: repeat(2, 1fr);

    }
    @include breakpoint(sm){
      display: flex;
      flex-direction: column;
    }
  }

  &__card {

  }

  .card {
    border: 1px solid #25232A;
    border-radius: 20px;
    padding: 80px 20px 70px;
    @include breakpoint(xl){
      max-width: 315px;
    }
    @include breakpoint(md){
      padding:45px 15px 40px;
      &:nth-child(odd){
        margin-left: auto;
      }
      &:nth-child(even){
        margin-right: auto;
      }
    }
    @include breakpoint(sm){
      max-width: 90%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: 20px;
      padding: 28px 25px 25px;

    }
    @include breakpoint(xs38){
      max-width: 100%;
      padding: 18px 15px 15px;
      display: flex;
      flex-direction: column  ;
    }
    &:nth-child(3){
      background-color: #25232A;

      .card__title{
        color: $mainColor;
      }
    }

    &__svg-wrapper {
      margin: 0 auto 18px;
      width: fit-content;
      @include breakpoint(sm){
        grid-row: 1/3;
        grid-column: 1/2;
        margin: 0;
        display: flex;
        align-items: center;
      }
      @include breakpoint(xs38){
        margin: 0 auto 10px;
      }
    }

    &__title {
      font-family: 'Satoshi-Medium', sans-serif;
      font-size: 24px;
      line-height: 1.3;
      text-align: center;
      color: #25232A;
      margin-bottom: 8px;
      @include fluid-type(320px, $maxWidth, 18px, 24px);
      @include breakpoint(sm){
        grid-row: 1/2;
        grid-column: 2/3;
        text-align: start;
      }
      @include breakpoint(xs38){
        text-align: center;
      }
    }

    &__desc {
      font-family: 'Satoshi-Regular', sans-serif;
      font-size: 14px;
      line-height: 1.35;
      text-align: center;
      color: #676767;
      @include fluid-type(576px, $maxWidth, 12px, 14px);
      @include breakpoint(sm){
        grid-row: 2/3;
        grid-column: 2/3;
        text-align: start;
        @include fluid-type(380px, 576px, 12px, 14px);
      }
      @include breakpoint(xs38){
        //@include fluid-type(320px, 380px, 10px, 12px);
        text-align: center;
      }
    }
  }


}

/*######### DESIGNERS END #########*/

/*######### VENUE #########*/

.venue {
  overflow:hidden;
  background-color: $secondaryColor;
  //padding: 100px 0;

  @include breakpoint(xl){
    padding: 0 40px;
  }
  @include breakpoint(md){
    padding: 0 15px;
  }
  /*@include breakpoint(sm){
    padding-top: 40px;
    padding-bottom: 40px;
  }*/

  .content{
    position: relative;
    padding: 100px 0;
    @include breakpoint(xl){
      padding: 80px 0;
    }
    @include breakpoint(md){
      padding: 60px 0;
    }
    @include breakpoint(sm){
      padding: 40px 0;
    }
  }
  &__img-dots{
    position: absolute;
    right: -64px;
    bottom: 136px;

    @include breakpoint(md){
      right: 12px;
      width: 50px;
      bottom: 50px;
    }
    @include breakpoint(sm){
      right: -25px;
    }

  }
  &__row {
    display: flex;
    column-gap: 60px;
    align-items: center;
    @include breakpoint(lg){
      column-gap: 30px;
    }
    @include breakpoint(md){
      column-gap: 25px;
      flex-direction: column;
    }
    @include breakpoint(xs38){
      row-gap: 25px;
    }
  }

  &__pictures {
    display: flex;
    column-gap: 24px;
    max-width: 50%;
    @include breakpoint(xl){
      max-width: unset;
    }
  }
  &__img-outer{

    position: relative;
    &--left{
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      .venue__img-inner{
        width: 306px;
        height: 513px;
        @include breakpoint(xl){
          padding-bottom: 170%;
          width: calc(100vw / 4.24);
          height: 0;
        }
        @include breakpoint(lg){
          width: 36vw;
          ///position: relative;
        }
      }

    }
    &--right{
      .venue__img-inner{
        width: 327px;
        height: 553px;
        @include breakpoint(xl) {
          height: 0;
          width: 25vw;
          padding-bottom: 169%;
        }
        @include breakpoint(md){
          width: 36vw;
        }

      }
      @include breakpoint(lg){
        display: none;
      }
      @include breakpoint(md){
        display: block;
      }
    }

  }
  &__img-inner {
    height: 0;
    position: relative;
    overflow: hidden;

    &:first-child{

    }
  }
  &__img-b-wrapper{
    display: flex;
    justify-content: end;
    @include breakpoint(lg){
      position: absolute;
      top: 0;
      right: -12vw;
    }
    @include breakpoint(md){
      position: static;
    }
  }
  &__img-t-wrapper{
    padding: 13px 0 39px 5px;
    @include breakpoint(sm){
      padding: 8px 0 20px 5px;
    }
  }
  &__img-box{
    @include breakpoint(xl){
      width: calc(100vw / 17);
    }
    @include breakpoint(sm){
      width: 10vw;
    }
  }
  &__img-triangles{
    @include breakpoint(xl){
      width: calc(100vw / 11);
    }
    @include breakpoint(md){
      width: unset;
      //max-width: 100%;
    }
  }
  &__img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
  }

  &__txt {
  }

  &__title {
    font-family: 'Satoshi-Bold', sans-serif;
    font-size: 56px;
    line-height: 1.35;
    text-align: start;
    letter-spacing: -0.03em;
    color: $mainColor;
    margin-bottom: 24px;
    @include fluid-type(320px, $maxWidth, 30px, 56px);
    @include breakpoint(md){
      @include fluid-type(320px, 768px, 26px, 30px);
    }
    @include breakpoint(sm){
      margin-bottom: 16px;
    }
  }

  &__subtitle {
    font-family: 'Satoshi-Medium', sans-serif;
    font-size: 24px;
    line-height: 1.3;
    color: $mainColor;
    margin-bottom: 24px;
    @include fluid-type(320px, $maxWidth, 18px, 24px);
    @include breakpoint(md){
      @include fluid-type(320px, $maxWidth, 16px, 18px);
    }
    @include breakpoint(sm){
      margin-bottom: 16px;
    }
  }

  &__desc {
    font-family: 'Satoshi-Regular', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    color: $mainColor;
    @include fluid-type(768px, $maxWidth, 14px, 16px);
    @include breakpoint(md){
      //@include fluid-type(320px, $maxWidth, 14px, 16px);
    }
    @include breakpoint(sm){
      font-size: 12px;
    }

  }
  &__btn-wrapper{
    display: flex;
    margin-top: 36px;
    column-gap: 16px;
    position: relative;
    @include breakpoint(xs38){
      flex-direction: column;
      row-gap: 10px;
    }
  }
  &__btn {
    font-family: 'Satoshi-Medium', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    color: $mainColor;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: 1px solid #D6377F;
    transition: .3s ease-in-out;
    &:visited{
      color:$mainColor;
    }
    @include breakpoint(xs38){
      justify-content: center;
    }
  }

  &__direction-btn {
    background: #D6377F;
    column-gap: 13px;
    &:hover{
      background-color: $secondaryColor;
    }
  }
  &__tour-btn {

    column-gap: 11px;
    &:hover{
      background-color: #D6377F;
    }
  }
  &__btn-txt {
    display: inline-block;
    white-space: nowrap;
  }

  &__svg-wrapper {
    display: flex;
  }
}

/*######### VENUE END #########*/

/*######### SPONSORS #########*/

.sponsors {
  background-color: $mainColor;
  overflow: hidden;
  padding: 100px 0;
  @include breakpoint(xl){
    padding: 80px 40px;
  }
  @include breakpoint(md){
    padding: 60px 15px;
  }
  @include breakpoint(sm){
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .sponsors__row {
  }

  .sponsors__header {
    margin-bottom: 60px;
    @include breakpoint(sm){
      margin-bottom: 45px;
    }
    @include breakpoint(xs38){
      margin-bottom: 35px;
    }
  }

  .sponsors__title {
    font-family: 'Satoshi-Bold', sans-serif;
    font-size: 46px;
    line-height: 1.35;
    text-align: center;
    color: $secondaryColor;
    margin-bottom: 16px;
    @include fluid-type(320px, $maxWidth, 24px, 46px);
    @include breakpoint(xs38){
      margin-bottom: 12px;
    }

  }

  .sponsors__title-line {
    max-width: 590px;
    height: 2px;
    background: linear-gradient(to right, #D6377F 50%, #DADADA 50%);
    margin: 0 auto;
    @include breakpoint(md){
      max-width: 80%;
    }
    @include breakpoint(xs38){
      max-width: 90%;
    }
  }

  .sponsors__items {
    display: flex;
    align-items: center;
    column-gap: 114px;
    row-gap: 36px;
    flex-wrap: wrap;
    justify-content: center;
    @include breakpoint(xl){
      column-gap: calc(100vw / 11.4);
    }
    @include breakpoint(sm){
      row-gap: 24px;
    }
    @include breakpoint(xs38){
      row-gap: 18px;
    }
  }

  .sponsors__item {
    @include breakpoint(lg){
      img{
        @include breakpoint(xs38){
          max-width: 80%;
          margin: 0 auto;
        }
      }
    }
  }

  .sponsors__img {
  }
  .sponsors__btn-wrapper{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    @include breakpoint(md){
      margin-top: 45px;
    }
  }
  .sponsors__btn {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #D6377F;
    border-radius: 5px;
    transition: .3s ease-in-out;
    color: #363636;
    font-family: 'Satoshi-Medium', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    width: fit-content;
    @include fluid-type(320px, $maxWidth, 14px, 16px);

    @include breakpoint(xs38){
      width: 100%;
      text-align: center;
    }
    &:visited{
      color: #363636;
    }

    &:hover{
      background: #D6377F;
      color: $mainColor;
    }
  }
}

/*######### SPONSORS END #########*/

/*######### GALLERY #########*/

.gallery {
  overflow: hidden;
  background-color: $secondaryColor;
  padding: 0px 0 46px;
  @include breakpoint(xl){
    padding-left: 40px;
    padding-right: 40px;
  }
  @include breakpoint(md) {
    padding-left: 15px;
    padding-right: 15px;
  }


  .gallery__row {

  }

  .gallery__header {
    position: relative;
    padding-top: 52px;
    margin-bottom: 50px;

  }

  .gallery__title {
    font-family: 'Satoshi-Bold',sans-serif;
    font-size: 46px;
    position: relative;
    z-index: 1;
    line-height: 1.3;
    text-align: center;
    color: $mainColor;
    @include fluid-type(320px, $maxWidth, 26px, 46px);
  }

  .gallery__img {
    position: absolute;
  }

  .gallery__img-circle {
    top: 70px;
    left: 430px;
    @include breakpoint(xl){
      left: 33%;
    }
    @include breakpoint(sm){
      left: 15%;
      top: 25px;
      max-width: 70%;
    }
  }

  .gallery__img-waves {
    right: 35px;
    top: 70px;
    @include breakpoint(sm){
      right: -20px;
    }
  }

  .gallery__sliders {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    min-width: 0;
    @include breakpoint(sm){
      row-gap: 4px;
    }
  }

  .gallery__slider {
    //overflow: hidden;
    width: 100%;
    //clip-path: inset(-100vw);
  }

  .gallery__slider--top {
  }

  .swiper-slider {
  }

  .gallery__slider-inner {
  }

  .swiper-wrapper {
    transition-timing-function: linear;
  }

  .gallery__slide {
    //position: relative;
    //overflow: hidden;
    /*min-width: 400px;*/
    width: 400px;
    height: 400px;
    //height: 0;
    //padding-bottom: 100%;

    @include breakpoint(sm){
      width: unset;
      height: 0;
      padding-bottom: 100%;
    }
  }

  .swiper-slide {
  }

  .gallery__slide-img {
    position: absolute;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }

  .gallery__slider--bottom {
  }
}

/*######### GALLERY END #########*/