*{padding: 0;margin: 0;border: 0;}
*, *::before, *::after {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
a,a:visited,a:hover{text-decoration: none;}
html,body{height:100%;width:100%;font-size:100%;line-height:1.5;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
nav,footer,header,aside{display: block;}
input,button,textarea, select{font-family:inherit;}
input::-ms-clear{display: none;}
button::-moz-focus-inner{padding: 0; border:0;}
button{cursor: pointer;}
ul,ol {list-style: none;}
img {max-width: 100%;display: block;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
