<footer class="footer">
    <div class="content">
        <div class="footer__row">
            <div class="footer__subscription subscription">
                <img src="img/subscription-lines.png" alt="Squares" class="subscription__img-gradient">
                <img src="img/subscription-circle-big.png" alt="Circle" class="subscription__img-circle subscription__img-circle--big">
                <img src="img/subscription-circle-small.png" alt="Circle" class="subscription__img-circle subscription__img-circle--small">

                <div class="subscription__inner">
                    <div class="subscription__txt">
                        <p class="subscription__subtitle">Dont miss our future updates</p>
                        <h2 class="subscription__title">Get Subscribed Today</h2>
                    </div>
                    <form action="" class="subscription__form">
                        <div class="subscription__input-wrapper">
                            <input type="email" class="subscription__input" placeholder="Enter your email address">
                            <button class="subscription__submit-btn" type="submit">
                                Subscribe
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="footer__content">
                <div class="footer__company">
                    <div class="footer__txt">
                        <div class="footer__logo logo">
                            <span class="logo__wrapper">
                                <svg viewBox="0 0 56 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_1_433)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.8962 55.3956C30.2991 59.3543 41.3972 49.1631 37.1696 31.6224C37.2794 32.2907 37.3362 32.978 37.3362 33.6766C37.3362 40.6133 31.7134 46.2362 24.7766 46.2362C19.0553 46.2362 14.2276 42.4119 12.7111 37.179C12.304 35.7724 11.4067 34.7197 10.0833 34.0931C8.75994 33.4664 7.37599 33.4418 6.02991 34.0192L5.99962 34.0325C3.78266 34.9829 2.59182 37.3381 3.14086 39.6875C4.65543 46.1756 8.57062 51.7398 13.8981 55.3956H13.8962ZM5.48466 21.2324C8.51382 21.2324 10.9693 23.6879 10.9693 26.7171C10.9693 29.7462 8.51382 32.2017 5.48466 32.2017C2.45551 32.2017 0 29.7462 0 26.7171C0 23.6879 2.45551 21.2324 5.48466 21.2324Z" fill="white"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M34.3524 50.373C37.8397 46.0754 39.093 39.6119 37.1676 31.6206C37.2774 32.2889 37.3342 32.9762 37.3342 33.6747C37.3342 40.6115 31.7113 46.2344 24.7746 46.2344C19.0533 46.2344 14.2255 42.4101 12.7091 37.1772C12.302 35.7705 11.4046 34.7179 10.0813 34.0913C8.88855 33.5271 7.65039 33.4514 6.43304 33.8622C9.47735 48.4173 21.6886 54.9697 34.3543 50.3711L34.3524 50.373Z" fill="white"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.8961 55.3957C30.299 59.3544 41.3971 49.1632 37.1676 31.6206C37.2774 32.2889 37.3342 32.9762 37.3342 33.6747C37.3342 36.117 36.6356 38.3964 35.4296 40.3256C34.6364 50.284 26.2797 56.4086 13.8942 55.3938L13.8961 55.3957Z" fill="white"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M37.1676 31.6206C41.3971 49.1613 30.299 59.3544 13.8942 55.3957C18.1275 58.2999 23.2505 60 28.7731 60C43.3111 60 55.0964 48.2147 55.0964 33.6766C55.0964 30.0151 54.3486 26.5297 52.9987 23.3624C52.0578 21.1549 50.4599 19.5911 48.2335 18.6994C46.0071 17.8058 43.7712 17.8323 41.5675 18.7789L41.4709 18.8205C37.2812 20.6172 35.1949 25.3086 36.6659 29.6232C36.8855 30.2669 37.054 30.9352 37.1676 31.6225V31.6206ZM38.1142 0C43.0536 0 47.0578 4.00416 47.0578 8.94358C47.0578 13.883 43.0536 17.8872 38.1142 17.8872C33.1748 17.8872 29.1706 13.883 29.1706 8.94358C29.1706 4.00416 33.1748 0 38.1142 0Z" fill="white"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M44.9658 28.4496C41.6281 20.0891 43.3774 18.2091 48.2354 18.6995C46.009 17.8059 43.7731 17.8324 41.5694 18.779L41.4728 18.8206C37.2831 20.6173 35.1968 25.3087 36.6678 29.6234C36.8875 30.2671 37.056 30.9354 37.1696 31.6226C41.399 49.1633 30.3009 59.3545 13.8981 55.3977C20.5717 58.2508 27.3248 58.1391 32.978 56.0244C43.8375 51.9615 50.6304 40.5018 44.9677 28.4515L44.9658 28.4496Z" fill="white"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1_433">
                                <rect width="55.0984" height="60" fill="white"/>
                                </clipPath>
                                </defs>
                                </svg>

                            </span>
                            <div class="logo__txt">
                                Designer
                                <span class="logo__txt--bold">Meetup</span>
                            </div>
                        </div>
                        <p class="footer__desc">
                            We ara a lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat... Read More
                        </p>
                    </div>
                    <div class="footer__socials">
                        <a href="#" class="footer__social-wrapper">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="16" cy="16" r="14" fill="url(#paint0_linear_1_393)"/>
                                <path d="M21.2137 20.2816L21.8356 16.3301H17.9452V13.767C17.9452 12.6857 18.4877 11.6311 20.2302 11.6311H22V8.26699C22 8.26699 20.3945 8 18.8603 8C15.6548 8 13.5617 9.89294 13.5617 13.3184V16.3301H10V20.2816H13.5617V29.8345C14.2767 29.944 15.0082 30 15.7534 30C16.4986 30 17.2302 29.944 17.9452 29.8345V20.2816H21.2137Z" fill="white"/>
                                <defs>
                                    <linearGradient id="paint0_linear_1_393" x1="16" y1="2" x2="16" y2="29.917" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#18ACFE"/>
                                        <stop offset="1" stop-color="#0163E0"/>
                                    </linearGradient>
                                </defs>
                            </svg>

                        </a>
                        <a href="#" class="footer__social-wrapper">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="2" y="2" width="28" height="28" rx="6" fill="url(#paint0_radial_1_396)"/>
                                <rect x="2" y="2" width="28" height="28" rx="6" fill="url(#paint1_radial_1_396)"/>
                                <rect x="2" y="2" width="28" height="28" rx="6" fill="url(#paint2_radial_1_396)"/>
                                <path d="M23 10.5C23 11.3284 22.3284 12 21.5 12C20.6716 12 20 11.3284 20 10.5C20 9.67157 20.6716 9 21.5 9C22.3284 9 23 9.67157 23 10.5Z" fill="white"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M16 21C18.7614 21 21 18.7614 21 16C21 13.2386 18.7614 11 16 11C13.2386 11 11 13.2386 11 16C11 18.7614 13.2386 21 16 21ZM16 19C17.6569 19 19 17.6569 19 16C19 14.3431 17.6569 13 16 13C14.3431 13 13 14.3431 13 16C13 17.6569 14.3431 19 16 19Z" fill="white"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M6 15.6C6 12.2397 6 10.5595 6.65396 9.27606C7.2292 8.14708 8.14708 7.2292 9.27606 6.65396C10.5595 6 12.2397 6 15.6 6H16.4C19.7603 6 21.4405 6 22.7239 6.65396C23.8529 7.2292 24.7708 8.14708 25.346 9.27606C26 10.5595 26 12.2397 26 15.6V16.4C26 19.7603 26 21.4405 25.346 22.7239C24.7708 23.8529 23.8529 24.7708 22.7239 25.346C21.4405 26 19.7603 26 16.4 26H15.6C12.2397 26 10.5595 26 9.27606 25.346C8.14708 24.7708 7.2292 23.8529 6.65396 22.7239C6 21.4405 6 19.7603 6 16.4V15.6ZM15.6 8H16.4C18.1132 8 19.2777 8.00156 20.1779 8.0751C21.0548 8.14674 21.5032 8.27659 21.816 8.43597C22.5686 8.81947 23.1805 9.43139 23.564 10.184C23.7234 10.4968 23.8533 10.9452 23.9249 11.8221C23.9984 12.7223 24 13.8868 24 15.6V16.4C24 18.1132 23.9984 19.2777 23.9249 20.1779C23.8533 21.0548 23.7234 21.5032 23.564 21.816C23.1805 22.5686 22.5686 23.1805 21.816 23.564C21.5032 23.7234 21.0548 23.8533 20.1779 23.9249C19.2777 23.9984 18.1132 24 16.4 24H15.6C13.8868 24 12.7223 23.9984 11.8221 23.9249C10.9452 23.8533 10.4968 23.7234 10.184 23.564C9.43139 23.1805 8.81947 22.5686 8.43597 21.816C8.27659 21.5032 8.14674 21.0548 8.0751 20.1779C8.00156 19.2777 8 18.1132 8 16.4V15.6C8 13.8868 8.00156 12.7223 8.0751 11.8221C8.14674 10.9452 8.27659 10.4968 8.43597 10.184C8.81947 9.43139 9.43139 8.81947 10.184 8.43597C10.4968 8.27659 10.9452 8.14674 11.8221 8.0751C12.7223 8.00156 13.8868 8 15.6 8Z" fill="white"/>
                                <defs>
                                    <radialGradient id="paint0_radial_1_396" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(12 23) rotate(-55.3758) scale(25.5196)">
                                        <stop stop-color="#B13589"/>
                                        <stop offset="0.79309" stop-color="#C62F94"/>
                                        <stop offset="1" stop-color="#8A3AC8"/>
                                    </radialGradient>
                                    <radialGradient id="paint1_radial_1_396" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(11 31) rotate(-65.1363) scale(22.5942)">
                                        <stop stop-color="#E0E8B7"/>
                                        <stop offset="0.444662" stop-color="#FB8A2E"/>
                                        <stop offset="0.71474" stop-color="#E2425C"/>
                                        <stop offset="1" stop-color="#E2425C" stop-opacity="0"/>
                                    </radialGradient>
                                    <radialGradient id="paint2_radial_1_396" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(0.500002 3) rotate(-8.1301) scale(38.8909 8.31836)">
                                        <stop offset="0.156701" stop-color="#406ADC"/>
                                        <stop offset="0.467799" stop-color="#6A45BE"/>
                                        <stop offset="1" stop-color="#6A45BE" stop-opacity="0"/>
                                    </radialGradient>
                                </defs>
                            </svg>


                        </a>
                        <a href="#" class="footer__social-wrapper">
                            <svg width="36" height="38" viewBox="0 0 36 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g filter="url(#filter0_d_1_399)">
                                    <rect x="4" y="2" width="28" height="28" rx="14" fill="#1275B1"/>
                                    <path d="M14.6186 9.69215C14.6186 10.6267 13.8085 11.3843 12.8093 11.3843C11.81 11.3843 11 10.6267 11 9.69215C11 8.7576 11.81 8 12.8093 8C13.8085 8 14.6186 8.7576 14.6186 9.69215Z" fill="white"/>
                                    <path d="M11.2474 12.6281H14.3402V22H11.2474V12.6281Z" fill="white"/>
                                    <path d="M19.3196 12.6281H16.2268V22H19.3196C19.3196 22 19.3196 19.0496 19.3196 17.2049C19.3196 16.0976 19.6977 14.9855 21.2062 14.9855C22.911 14.9855 22.9008 16.4345 22.8928 17.5571C22.8824 19.0244 22.9072 20.5219 22.9072 22H26V17.0537C25.9738 13.8954 25.1508 12.4401 22.4433 12.4401C20.8354 12.4401 19.8387 13.1701 19.3196 13.8305V12.6281Z" fill="white"/>
                                </g>
                                <defs>
                                    <filter id="filter0_d_1_399" x="-2" y="0" width="40" height="40" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                        <feOffset dy="4"/>
                                        <feGaussianBlur stdDeviation="2"/>
                                        <feComposite in2="hardAlpha" operator="out"/>
                                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_399"/>
                                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_399" result="shape"/>
                                    </filter>
                                </defs>
                            </svg>


                        </a>
                        <a href="#" class="footer__social-wrapper">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.7887 28C8.55374 28 5.53817 27.0591 3 25.4356C5.15499 25.5751 8.95807 25.2411 11.3236 22.9848C7.76508 22.8215 6.16026 20.0923 5.95094 18.926C6.25329 19.0426 7.6953 19.1826 8.50934 18.856C4.4159 17.8296 3.78793 14.2373 3.92748 13.141C4.695 13.6775 5.99745 13.8641 6.50913 13.8174C2.69479 11.0882 4.06703 6.98276 4.74151 6.09635C7.47882 9.88867 11.5812 12.0186 16.6564 12.137C16.5607 11.7174 16.5102 11.2804 16.5102 10.8316C16.5102 7.61092 19.1134 5 22.3247 5C24.0025 5 25.5144 5.71275 26.5757 6.85284C27.6969 6.59011 29.3843 5.97507 30.2092 5.4432C29.7934 6.93611 28.4989 8.18149 27.7159 8.64308C27.7095 8.62731 27.7224 8.65878 27.7159 8.64308C28.4037 8.53904 30.2648 8.18137 31 7.68256C30.6364 8.52125 29.264 9.91573 28.1377 10.6964C28.3473 19.9381 21.2765 28 11.7887 28Z" fill="#47ACDF"/>
                            </svg>


                        </a>
                        <a href="#" class="footer__social-wrapper">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.24451 9.94111C2.37304 7.96233 3.96395 6.41157 5.94447 6.31345C8.81239 6.17136 12.9115 6 16 6C19.0885 6 23.1876 6.17136 26.0555 6.31345C28.0361 6.41157 29.627 7.96233 29.7555 9.94111C29.8786 11.8369 30 14.1697 30 16C30 17.8303 29.8786 20.1631 29.7555 22.0589C29.627 24.0377 28.0361 25.5884 26.0555 25.6866C23.1876 25.8286 19.0885 26 16 26C12.9115 26 8.81239 25.8286 5.94447 25.6866C3.96395 25.5884 2.37304 24.0377 2.24451 22.0589C2.12136 20.1631 2 17.8303 2 16C2 14.1697 2.12136 11.8369 2.24451 9.94111Z" fill="#FC0D1B"/>
                                <path d="M13 12V20L21 16L13 12Z" fill="white"/>
                            </svg>

                        </a>
                    </div>
                </div>
                <div class="footer__lists accordion">
                    <div class="accordion__item">
                        <button class="accordion__header">About</button>
                        <div class="accordion__body">
                            <ul class="accordion__list">
                                <li class="accordion__list-item"><a href="#" class="accordion__link">About us</a></li>
                                <li class="accordion__list-item"><a href="#" class="accordion__link">Ticket</a></li>
                                <li class="accordion__list-item"><a href="#" class="accordion__link">Speaker</a></li>
                                <li class="accordion__list-item"><a href="#" class="accordion__link">Schedule</a></li>
                                <li class="accordion__list-item"><a href="#" class="accordion__link">In Press</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="accordion__item">
                        <button class="accordion__header">Support</button>
                        <div class="accordion__body">
                            <ul class="accordion__list">
                                <li class="accordion__list-item"><a href="#" class="accordion__link">Contact us</a></li>
                                <li class="accordion__list-item"><a href="#" class="accordion__link">Register</a></li>
                                <li class="accordion__list-item"><a href="#" class="accordion__link">Sponsor</a></li>
                                <li class="accordion__list-item"><a href="#" class="accordion__link">Telegram</a></li>
                                <li class="accordion__list-item"><a href="#" class="accordion__link">Venue</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="accordion__item">
                        <button class="accordion__header">FAQ</button>
                        <div class="accordion__body">
                            <ul class="accordion__list">
                                <li class="accordion__list-item"><a href="#" class="accordion__link">Account</a></li>
                                <li class="accordion__list-item"><a href="#" class="accordion__link">Privacy Policy</a></li>
                                <li class="accordion__list-item"><a href="#" class="accordion__link">How its works</a></li>
                                <li class="accordion__list-item"><a href="#" class="accordion__link">Payments</a></li>
                                <li class="accordion__list-item"><a href="#" class="accordion__link">Returns</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__rights-wrapper">
                <p class="footer__rights">
                    Copyright © Designer Meet 2022
                </p>
            </div>
        </div>
    </div>
</footer>