<header class="header">
    <div class="content">
        <nav class="nav" aria-label="Open menu" role="navigation">
            <a href="#" class="nav__logo logo">
                <span class="logo__svg-wrapper">
                    <img src="img/logo.svg" alt="Logo">
                </span>
                <p class="logo__txt">Designer <span class="logo__txt--bold">Meetup</span></p>

            </a>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#" class="nav__link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">About Meetup</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Schedule</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Speakers</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Sponsors</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Venue</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Blog</a>
                    </li>
                </ul>
                <a href="#" class="nav__ticket-btn ticket">
                    <span class="ticket__svg-wrapper">
                        <img src="img/ticket.svg" alt="Ticket icon">
                    </span>
                    <span class="ticket__txt">Get Ticket</span>
                </a>
            </div>

            <button type="button" class="hamburger" aria-haspopup="true" aria-controls="nav-menu" aria-expanded="true">
                <span class="hamburger__bar"></span>
                <span class="hamburger__bar"></span>
                <span class="hamburger__bar"></span>
            </button>
        </nav>
    </div>
</header>