<section class="community">
    <div class="content">
        <img src="img/community__triangles.png" alt="Triangles" class="community__triangles">
        <div class="community__row">
            <h2 class="community__title">Meet & Learn from Community Leaders</h2>
            <div class="community__cards">
                <div class="community__card card">
                    <div class="card__svg-wrapper">
                        <svg width="32" height="24" viewBox="0 0 32 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.9452 11.5263C6.85004 11.5599 6.74992 11.5769 6.6491 11.5769C3.4522 11.5769 0.860657 8.98539 0.860657 5.78845C0.860657 2.59155 3.45233 0 6.6491 0C9.84618 0 12.4375 2.59168 12.4375 5.78845C12.4375 5.87486 12.425 5.96076 12.4003 6.04357C12.0821 7.10812 11.3303 8.19391 10.1622 9.32312C9.01058 10.4363 7.94551 11.1738 6.94508 11.5264L6.9452 11.5263ZM21.9312 19.8109L23.3092 21.1889C24.6828 22.5626 26.9098 22.5626 28.2834 21.1889C29.6571 19.8152 29.6571 17.588 28.2834 16.2142L22.0495 9.98023C19.9802 7.91095 19.9802 4.55608 22.0495 2.48703C24.1187 0.417749 27.4736 0.417749 29.5427 2.48703L30.8785 3.82283C31.2263 4.17054 31.2263 4.73446 30.8785 5.0823C30.5308 5.43001 29.9668 5.43001 29.6192 5.0823L28.2832 3.74633C26.9095 2.37264 24.6825 2.37264 23.3089 3.74633C21.9353 5.12001 21.9353 7.34716 23.3089 8.72102L29.5429 14.955C31.6122 17.0241 31.6122 20.3791 29.5429 22.4482C27.4736 24.5173 24.1187 24.5173 22.0497 22.4482L20.6717 21.0702C20.0107 21.6349 19.0273 21.6421 18.3568 21.0673L8.62068 12.7221C9.52973 12.2309 10.4486 11.524 11.4008 10.6037C12.3693 9.66735 13.1064 8.73412 13.6033 7.7829L21.9287 17.4957C22.5036 18.1662 22.4964 19.1497 21.9316 19.8107L21.9312 19.8109Z" fill="#FD6585"/>
                        </svg>
                    </div>
                    <p class="card__title">
                        40+ Speaker
                    </p>
                </div>

                <div class="community__card card">
                    <div class="card__svg-wrapper">
                        <svg width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20.0289 22.4471H14.7773V19.1128H13.2243V22.4471H7.97213C7.45528 22.4471 7.19538 22.8352 7.19538 23.2239C7.19538 23.6123 7.45531 24.0001 7.97213 24.0001H20.0286C20.5455 24.0001 20.8054 23.612 20.8054 23.2233C20.8054 22.835 20.5454 22.4471 20.0289 22.4471Z" fill="#FD6585"/>
                            <path d="M26.9697 0.991075H15.1175V0.489237C15.1175 0.244918 14.9561 0 14.6283 0H13.3728C13.0474 0 12.8836 0.244319 12.8836 0.489237V0.991075H1.0299C0.513052 0.991075 0.253159 1.37916 0.253159 1.76782C0.253159 2.15648 0.513082 2.54457 1.0299 2.54457H26.9701C27.4869 2.54457 27.7468 2.15648 27.7468 1.76782C27.7465 1.37913 27.4872 0.991075 26.9704 0.991075H26.9697Z" fill="#FD6585"/>
                            <path d="M26.1929 16.7597V3.32086L24.7254 3.32866V16.7598L3.27484 16.7595V3.32836L1.80594 3.32056V16.7594C1.28909 16.7594 1.0292 17.1474 1.0292 17.5361C1.0292 17.9248 1.28912 18.3128 1.80594 18.3128H26.1925C26.7093 18.3128 26.9692 17.9248 26.9692 17.5361C26.9692 17.1477 26.7093 16.7599 26.1925 16.7599L26.1929 16.7597Z" fill="#FD6585"/>
                        </svg>
                    </div>
                    <p class="card__title">
                        60+ Session
                    </p>
                </div>

                <div class="community__card card">
                    <div class="card__svg-wrapper">
                        <svg width="21" height="24" viewBox="0 0 21 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.68333 23.0833C2.1 23.0833 1.60416 22.8791 1.19583 22.4708C0.787495 22.0624 0.583328 21.5666 0.583328 20.9833V5.34992C0.583328 4.76659 0.787495 4.27075 1.19583 3.86242C1.60416 3.45409 2.1 3.24992 2.68333 3.24992H4.31666V0.770752H6.09583V3.24992H14.9333V0.770752H16.6833V3.24992H18.3167C18.9 3.24992 19.3958 3.45409 19.8042 3.86242C20.2125 4.27075 20.4167 4.76659 20.4167 5.34992V20.9833C20.4167 21.5666 20.2125 22.0624 19.8042 22.4708C19.3958 22.8791 18.9 23.0833 18.3167 23.0833H2.68333ZM2.68333 21.3333H18.3167C18.3944 21.3333 18.4722 21.2944 18.55 21.2166C18.6278 21.1388 18.6667 21.061 18.6667 20.9833V10.0166H2.33333V20.9833C2.33333 21.061 2.37222 21.1388 2.44999 21.2166C2.52777 21.2944 2.60555 21.3333 2.68333 21.3333ZM2.33333 8.26659H18.6667V5.34992C18.6667 5.27214 18.6278 5.19436 18.55 5.11659C18.4722 5.03881 18.3944 4.99992 18.3167 4.99992H2.68333C2.60555 4.99992 2.52777 5.03881 2.44999 5.11659C2.37222 5.19436 2.33333 5.27214 2.33333 5.34992V8.26659Z" fill="#FD6585"/>
                        </svg>
                    </div>
                    <p class="card__title">
                        3 Days Event
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>