<section class="designers">
    <div class="content">
        <div class="designers__row">
            <div class="designers__header">
                <p class="designers__subtitle">Why you should Join</p>
                <h2 class="designers__title">The Designer’s Meetup Event</h2>
            </div>
            <div class="designers__cards">
                <div class="designers__card card">
                    <div class="card__svg-wrapper">
                        <svg width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.39616 0C6.93073 0 8.21813 1.23763 8.21813 2.82197C8.21813 4.40631 6.9805 5.64394 5.39616 5.64394C3.86159 5.64394 2.62396 4.40631 2.62396 2.82197C2.62396 1.23763 3.86159 0 5.39616 0Z" fill="#FD6585"/>
                            <path d="M10.8417 14.7523C10.8417 15.2968 10.6932 15.6929 10.2971 16.089C9.55464 16.782 7.62398 17.2275 5.39599 17.2275C3.16834 17.2275 1.23765 16.782 0.544574 16.089C0.148489 15.6929 0 15.2474 0 14.7028C0 9.90084 3.16833 6.93036 5.39597 6.93036C7.67338 6.93036 10.8417 9.90084 10.8417 14.7522L10.8417 14.7523Z" fill="#FD6585"/>
                            <path d="M33.5154 0C35.05 0 36.3374 1.23763 36.3374 2.82197C36.3374 4.40631 35.0998 5.64394 33.5154 5.64394C31.9809 5.64394 30.7432 4.40631 30.7432 2.82197C30.7432 1.23763 31.9809 0 33.5154 0Z" fill="#FD6585"/>
                            <path d="M38.9601 14.7523C38.9601 15.2968 38.8116 15.6929 38.4156 16.089C37.6731 16.782 35.7425 17.2275 33.5145 17.2275C31.2868 17.2275 29.3561 16.782 28.663 16.089C28.267 15.6929 28.1185 15.2474 28.1185 14.7028C28.1185 9.90084 31.2871 6.93036 33.5148 6.93036C35.7918 6.93036 38.9602 9.90084 38.9602 14.7522L38.9601 14.7523Z" fill="#FD6585"/>
                            <path d="M15.2966 8.71289H24.2075C25.3957 8.71289 25.3957 6.8316 24.2075 6.8316H15.2966C14.1086 6.8316 14.059 8.71289 15.2966 8.71289Z" fill="#FD6585"/>
                            <path d="M19.4557 22.772C20.9903 22.772 22.2777 24.0097 22.2777 25.594C22.2777 27.1286 21.04 28.416 19.4557 28.416C17.9211 28.416 16.6835 27.1783 16.6835 25.594C16.6341 24.0097 17.9211 22.772 19.4557 22.772Z" fill="#FD6585"/>
                            <path d="M24.852 37.5247C24.852 38.0693 24.7035 38.4654 24.3075 38.8615C23.565 39.5545 21.6344 40 19.4064 40C17.1787 40 15.248 39.5545 14.5549 38.8615C14.1589 38.4654 14.0104 38.0199 14.0104 37.4753C14.0104 32.6733 17.1787 29.7032 19.4558 29.7032C21.6838 29.7032 24.8521 32.6733 24.8521 37.5247H24.852Z" fill="#FD6585"/>
                            <path d="M32.2279 20.3959C33.0694 19.5544 34.4062 20.8414 33.5646 21.7326L27.2774 28.0199C26.4358 28.8614 25.0991 27.5744 25.9407 26.6831C28.0201 24.5542 30.1488 22.475 32.2279 20.3959Z" fill="#FD6585"/>
                            <path d="M12.3762 26.6829C13.2178 27.5245 11.881 28.8612 11.0395 28.0196L4.75227 21.7324C3.91073 20.8909 5.19774 19.5541 6.03932 20.3957C8.16821 22.4749 10.2971 24.554 12.3763 26.6829H12.3762Z" fill="#FD6585"/>
                        </svg>
                    </div>
                    <p class="card__title">Networking</p>
                    <p class="card__desc">You will meet and Build your Networking scale with community peoples and helo
                        to get more tips and supports
                    </p>
                </div>

                <div class="designers__card card">
                    <div class="card__svg-wrapper">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 0C14.841 0.0254469 17.4553 1.55577 18.8688 4.02057C20.2822 6.48526 20.2822 9.51474 18.8688 11.9795C17.4554 14.4442 14.8411 15.9746 12 16.0001C9.15897 15.9747 6.54469 14.4443 5.1312 11.9795C3.71783 9.51486 3.71783 6.48537 5.1312 4.02057C6.54411 1.55589 9.15886 0.0254857 12 0ZM16 29C15.9924 24.8719 17.9634 20.9902 21.3 18.5598C20.5897 18.1901 19.8009 17.9977 19 18H5C3.67406 18.0004 2.40263 18.5272 1.46514 19.4651C0.527201 20.4026 0.000457143 21.674 0 23V35C0.0004464 36.3259 0.527235 37.5973 1.46514 38.5348C2.40264 39.4728 3.67406 39.9995 5 40H19C19.8009 40.0022 20.5897 39.8098 21.3 39.4401C17.963 37.0097 15.9925 33.1281 16 28.9999V29ZM29 16C31.1281 15.9768 33.0843 14.8281 34.1415 12.9813C35.1991 11.1344 35.1986 8.8656 34.1415 7.01874C33.0843 5.17189 31.1277 4.0232 29 4C26.8719 4.02322 24.9157 5.17189 23.8581 7.01874C22.8009 8.8656 22.8009 11.1344 23.8585 12.9813C24.9156 14.8281 26.8719 15.9768 29 16H29ZM29.0004 40C14.4736 39.5379 14.4679 18.4651 29 18C43.5326 18.4674 43.5349 39.5303 29.0004 40ZM34 28H30V24C30 23.4478 29.5522 23 29 23C28.4478 23 28 23.4478 28 24V28H24C23.4478 28 23 28.4478 23 29C23 29.5522 23.4478 30 24 30H28V34C28 34.5522 28.4478 35 29 35C29.5522 35 30 34.5522 30 34V30H34C34.5424 29.9862 34.975 29.5424 34.975 29C34.975 28.4576 34.5424 28.0138 34 28Z" fill="#FD6585"/>
                        </svg>

                    </div>
                    <p class="card__title">New People</p>
                    <p class="card__desc">You will meet with new people and talk to them and community leader and discus
                        with them your further step
                    </p>
                </div>

                <div class="designers__card card">
                    <div class="card__svg-wrapper">
                        <svg width="51" height="40" viewBox="0 0 51 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.1409 19.2105C9.98231 19.2665 9.81544 19.2948 9.64741 19.2948C4.31924 19.2948 0 14.9757 0 9.64741C0 4.31924 4.31946 0 9.64741 0C14.9759 0 19.2948 4.31946 19.2948 9.64741C19.2948 9.79144 19.274 9.9346 19.2328 10.0726C18.7025 11.8469 17.4494 13.6565 15.5026 15.5385C13.5832 17.3939 11.8081 18.623 10.1407 19.2107L10.1409 19.2105ZM35.1175 33.0182L37.4142 35.3148C39.7036 37.6043 43.4153 37.6043 45.7046 35.3148C47.994 33.0253 47.994 29.3134 45.7046 27.0236L35.3147 16.6337C31.8659 13.1849 31.8659 7.59347 35.3147 4.14504C38.7635 0.696248 44.3549 0.696248 47.8033 4.14504L50.0297 6.37138C50.6095 6.95089 50.6095 7.89077 50.0297 8.47051C49.4502 9.05002 48.5103 9.05002 47.9308 8.47051L45.7042 6.24388C43.4147 3.95441 39.7031 3.95441 37.4138 6.24388C35.1245 8.53334 35.1243 12.2453 37.4138 14.535L47.8037 24.9249C51.2525 28.3734 51.2525 33.9652 47.8037 37.4136C44.3549 40.8621 38.7635 40.8621 35.315 37.4136L33.0184 35.117C31.9168 36.0582 30.2777 36.0702 29.1602 35.1121L12.9334 21.2036C14.4484 20.3849 15.9798 19.2067 17.5669 17.6728C19.1811 16.1123 20.4095 14.5569 21.2377 12.9715L35.1133 29.1595C36.0715 30.2771 36.0595 31.9162 35.1182 33.0178L35.1175 33.0182Z" fill="#FD6585"/>
                        </svg>

                    </div>
                    <p class="card__title">Great Speaker</p>
                    <p class="card__desc">You will meet and Build your Networking scale with community peoples and helo
                        to get more tips and supports
                    </p>
                </div>

                <div class="designers__card card">
                    <div class="card__svg-wrapper">
                        <svg width="35" height="40" viewBox="0 0 35 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M34.1867 19.7469C33.6618 19.2015 33.0709 18.9844 32.4705 18.9844C31.3288 18.9844 30.1516 19.7676 29.3221 20.5661C29.3081 20.5795 25.319 23.8878 23.9633 25.2252C23.7172 25.4676 23.2382 25.6641 22.8928 25.6641C21.5683 27.1487 19.6422 28.0859 17.5008 28.0859C15.3594 28.0859 13.433 27.1487 12.1088 25.6641H11.9914C11.6462 25.6641 11.1552 25.4808 10.8946 25.2542L5.56342 20.6209C4.7495 19.838 3.59772 19.0126 2.48087 19.0123C1.9845 19.0123 1.49509 19.1755 1.04502 19.5779C-0.530035 20.9849 0.466901 22.8173 1.71606 24.0137C1.742 24.0377 7.7043 29.7494 7.7043 29.7494C7.7043 29.7494 10.0491 32.236 10.216 33.7433L10.2157 37.3437C10.2157 38.8107 11.4048 39.9999 12.872 39.9999H22.4619C23.929 39.9999 25.1182 38.8108 25.1182 37.3437V33.743C25.2842 32.2357 27.4845 29.7492 27.4845 29.7492L33.3243 23.9546C34.3907 22.8578 35.4599 21.0721 34.1867 19.747L34.1867 19.7469Z" fill="#FD6585"/>
                            <path d="M23.477 20.8599C23.477 24.1606 20.8013 26.8367 17.5002 26.8367C14.1995 26.8367 11.5237 24.1606 11.5237 20.8599C11.5237 17.5591 14.1995 14.8834 17.5002 14.8834C20.8013 14.8834 23.477 17.5591 23.477 20.8599Z" fill="#FD6585"/>
                            <path d="M6.24995 13.4369C6.24995 15.1629 4.85096 16.5619 3.12498 16.5619C1.39899 16.5619 0 15.1629 0 13.4369C0 11.7109 1.39899 10.312 3.12498 10.312C4.85096 10.312 6.24995 11.7109 6.24995 13.4369Z" fill="#FD6585"/>
                            <path d="M20.625 3.12498C20.625 4.85096 19.226 6.24995 17.5 6.24995C15.774 6.24995 14.375 4.85096 14.375 3.12498C14.375 1.39899 15.774 0 17.5 0C19.226 0 20.625 1.39899 20.625 3.12498Z" fill="#FD6585"/>
                            <path d="M8.7478 3.4375C8.18112 3.4375 7.60717 3.59151 7.09153 3.9149C5.62918 4.8306 5.18554 6.75752 6.10239 8.22122C6.69558 9.1685 7.71231 9.68742 8.75223 9.68742C9.31891 9.68742 9.89258 9.53341 10.4085 9.21003C11.8708 8.29432 12.3145 6.36741 11.3976 4.9037C10.8044 3.95642 9.78772 3.4375 8.7478 3.4375Z" fill="#FD6585"/>
                            <path d="M24.5905 8.89703C25.1067 9.22068 25.6803 9.3747 26.2473 9.3747C27.2869 9.3747 28.3033 8.85601 28.8968 7.909C29.8142 6.44558 29.3709 4.51867 27.9091 3.60267C27.3929 3.2793 26.819 3.125 26.252 3.125C25.2124 3.125 24.196 3.64369 23.6025 4.5907C22.6854 6.05412 23.1284 7.98075 24.5905 8.89703Z" fill="#FD6585"/>
                            <path d="M34.9997 13.4369C34.9997 15.1629 33.6007 16.5619 31.8747 16.5619C30.1487 16.5619 28.7497 15.1629 28.7497 13.4369C28.7497 11.7109 30.1487 10.312 31.8747 10.312C33.6007 10.312 34.9997 11.7109 34.9997 13.4369Z" fill="#FD6585"/>
                        </svg>
                    </div>
                    <p class="card__title">Have Fun</p>
                    <p class="card__desc">You will meet and Build your Networking scale with community peoples and helo
                        to get more tips and supports
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>