<section class="gallery">
  <div class="content">
    <div class="gallery__row">
      <header class="gallery__header">
        <h2 class="gallery__title">Photo Gallery</h2>
        <img src="img/gallery-circle.png" alt="Parts of circle" class="gallery__img gallery__img-circle">
        <img src="img/gallery-waves.png" alt="Waves" class="gallery__img gallery__img-waves">
      </header>

      <div class="gallery__sliders">
        <div class="gallery__slider gallery__slider--top swiper-slider">
          <div class="gallery__slider-inner swiper-wrapper">
            <div class="gallery__slide swiper-slide">
              <img src="img/gallery-1.jpg" alt="Plates on table" class="gallery__slide-img">
            </div>
            <div class="gallery__slide swiper-slide">
              <img src="img/gallery-2.jpg" alt="Plates on table" class="gallery__slide-img">
            </div>
            <div class="gallery__slide swiper-slide">
              <img src="img/gallery-3.jpg" alt="Plates on table" class="gallery__slide-img">
            </div>
            <div class="gallery__slide swiper-slide">
              <img src="img/gallery-4.jpg" alt="Plates on table" class="gallery__slide-img">
            </div>
          </div>
        </div>

        <div class="gallery__sliders">
          <div class="gallery__slider gallery__slider--bottom swiper-slider">
            <div class="gallery__slider-inner swiper-wrapper">
              <div class="gallery__slide swiper-slide">
                <img src="img/gallery-5.jpg" alt="Conference" class="gallery__slide-img">
              </div>
              <div class="gallery__slide swiper-slide">
                <img src="img/gallery-6.jpg" alt="Conference" class="gallery__slide-img">
              </div>
              <div class="gallery__slide swiper-slide">
                <img src="img/gallery-7.jpg" alt="Conference" class="gallery__slide-img">
              </div>
              <div class="gallery__slide swiper-slide">
                <img src="img/gallery-8.jpg" alt="Conference" class="gallery__slide-img">
              </div>
              <div class="gallery__slide swiper-slide">
                <img src="img/gallery-9.jpg" alt="Conference" class="gallery__slide-img">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>