<section class="hero">
    <div class="content">
        <div class="hero__row">
            <img src="img/hero-waves.png" class="hero__img hero__img-waves" alt="Waves">
            <img src="img/hero-circles.png" class="hero__img hero__img-circles" alt="Circles">
            <img src="img/hero-halves.png" class="hero__img hero__img-halves" alt="Halves">
            <div class="hero__title-wrapper">
                <h1 class="hero__title">Designer’s Meetup 2023</h1>
                <p class="hero__desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit quis dui lacus. Aenean purus ut ac sit.
                    Nullam habitant at tempus ut. Enim turpis sollicitudin magna nunc facilisis id commodo.
                </p>
            </div>
            <div class="hero__date-wrapper">
                <time class="hero__date">02 Feb 2023</time>
                <p class="hero__location">Bangabandhu International Conference Center</p>

            </div>
            <button class="hero__btn btn" type="button">
                <span class="btn__svg-wrapper">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 -6.11959e-07L9 12.175L14.6 6.575L16 8L8 16L1.17622e-06 8L1.4 6.575L7 12.175L7 -7.86805e-07L9 -6.11959e-07Z" fill="white"/>
                    </svg>
                </span>
            </button>
        </div>
    </div>
</section>