<section class="meetup">
  <div class="content">

    <img src="img/meetup-circles.png" alt="Circles" class="meetup__img-circles">
    <div class="meetup__row">
      <div class="meetup__l-content">
        <h2 class="meetup__title">About Meetup Event</h2>
        <p class="meetup__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit quis dui lacus. Aenean
          purus ut ac sit. Nullam habitant at tempus ut. Enim turpis sollicitudin magna nunc facilisis odo.Lorem ipsum
          dolor sit amet, consectetur adipiscing sit quis dui lacus. Aenean purus ut ac sit.
        </p>
        <div class="meetup__info">
          <div class="meetup__date-wrapper">
            <div class="meetup__svg-wrapper">
              <svg width="28" height="31" viewBox="0 0 28 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 24.5C7.575 24.5 7.2185 24.356 6.9305 24.068C6.6435 23.781 6.5 23.425 6.5 23C6.5 22.575 6.6435 22.219 6.9305 21.932C7.2185 21.644 7.575 21.5 8 21.5C8.425 21.5 8.7815 21.644 9.0695 21.932C9.3565 22.219 9.5 22.575 9.5 23C9.5 23.425 9.3565 23.781 9.0695 24.068C8.7815 24.356 8.425 24.5 8 24.5ZM8 18.5C7.575 18.5 7.2185 18.356 6.9305 18.068C6.6435 17.781 6.5 17.425 6.5 17C6.5 16.575 6.6435 16.2185 6.9305 15.9305C7.2185 15.6435 7.575 15.5 8 15.5C8.425 15.5 8.7815 15.6435 9.0695 15.9305C9.3565 16.2185 9.5 16.575 9.5 17C9.5 17.425 9.3565 17.781 9.0695 18.068C8.7815 18.356 8.425 18.5 8 18.5ZM14 24.5C13.575 24.5 13.219 24.356 12.932 24.068C12.644 23.781 12.5 23.425 12.5 23C12.5 22.575 12.644 22.219 12.932 21.932C13.219 21.644 13.575 21.5 14 21.5C14.425 21.5 14.7815 21.644 15.0695 21.932C15.3565 22.219 15.5 22.575 15.5 23C15.5 23.425 15.3565 23.781 15.0695 24.068C14.7815 24.356 14.425 24.5 14 24.5ZM14 18.5C13.575 18.5 13.219 18.356 12.932 18.068C12.644 17.781 12.5 17.425 12.5 17C12.5 16.575 12.644 16.2185 12.932 15.9305C13.219 15.6435 13.575 15.5 14 15.5C14.425 15.5 14.7815 15.6435 15.0695 15.9305C15.3565 16.2185 15.5 16.575 15.5 17C15.5 17.425 15.3565 17.781 15.0695 18.068C14.7815 18.356 14.425 18.5 14 18.5ZM20 24.5C19.575 24.5 19.219 24.356 18.932 24.068C18.644 23.781 18.5 23.425 18.5 23C18.5 22.575 18.644 22.219 18.932 21.932C19.219 21.644 19.575 21.5 20 21.5C20.425 21.5 20.781 21.644 21.068 21.932C21.356 22.219 21.5 22.575 21.5 23C21.5 23.425 21.356 23.781 21.068 24.068C20.781 24.356 20.425 24.5 20 24.5ZM20 18.5C19.575 18.5 19.219 18.356 18.932 18.068C18.644 17.781 18.5 17.425 18.5 17C18.5 16.575 18.644 16.2185 18.932 15.9305C19.219 15.6435 19.575 15.5 20 15.5C20.425 15.5 20.781 15.6435 21.068 15.9305C21.356 16.2185 21.5 16.575 21.5 17C21.5 17.425 21.356 17.781 21.068 18.068C20.781 18.356 20.425 18.5 20 18.5ZM3.5 30.5C2.675 30.5 1.9685 30.2065 1.3805 29.6195C0.7935 29.0315 0.5 28.325 0.5 27.5V6.5C0.5 5.675 0.7935 4.969 1.3805 4.382C1.9685 3.794 2.675 3.5 3.5 3.5H5V0.5H8V3.5H20V0.5H23V3.5H24.5C25.325 3.5 26.0315 3.794 26.6195 4.382C27.2065 4.969 27.5 5.675 27.5 6.5V27.5C27.5 28.325 27.2065 29.0315 26.6195 29.6195C26.0315 30.2065 25.325 30.5 24.5 30.5H3.5ZM3.5 27.5H24.5V12.5H3.5V27.5ZM3.5 9.5H24.5V6.5H3.5V9.5Z" fill="#D6377F"/>
              </svg>
            </div>
            <div class="meetup__txt">
              <p class="meetup__txt-title">
                When
              </p>
              <p class="meetup__txt-desc">
                Friday to Sunday, <br/>
                1-3 July 2022
              </p>
            </div>
          </div>
          <div class="meetup__location-wrapper">
            <div class="meetup__svg-wrapper">
              <svg width="22" height="31" viewBox="0 0 22 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 22.2125C13.475 20.2125 15.344 18.2875 16.607 16.4375C17.869 14.5875 18.5 12.85 18.5 11.225C18.5 9.825 18.244 8.631 17.732 7.643C17.219 6.656 16.5875 5.856 15.8375 5.243C15.0875 4.631 14.275 4.1875 13.4 3.9125C12.525 3.6375 11.725 3.5 11 3.5C10.275 3.5 9.475 3.6375 8.6 3.9125C7.725 4.1875 6.9125 4.631 6.1625 5.243C5.4125 5.856 4.7815 6.656 4.2695 7.643C3.7565 8.631 3.5 9.825 3.5 11.225C3.5 12.85 4.131 14.5875 5.393 16.4375C6.656 18.2875 8.525 20.2125 11 22.2125ZM11 26C7.475 23.4 4.8435 20.875 3.1055 18.425C1.3685 15.975 0.5 13.575 0.5 11.225C0.5 9.45 0.819 7.8935 1.457 6.5555C2.094 5.2185 2.9125 4.1 3.9125 3.2C4.9125 2.3 6.0375 1.625 7.2875 1.175C8.5375 0.725 9.775 0.5 11 0.5C12.225 0.5 13.4625 0.725 14.7125 1.175C15.9625 1.625 17.0875 2.3 18.0875 3.2C19.0875 4.1 19.9065 5.2185 20.5445 6.5555C21.1815 7.8935 21.5 9.45 21.5 11.225C21.5 13.575 20.631 15.975 18.893 18.425C17.156 20.875 14.525 23.4 11 26ZM11 14C11.825 14 12.5315 13.706 13.1195 13.118C13.7065 12.531 14 11.825 14 11C14 10.175 13.7065 9.4685 13.1195 8.8805C12.5315 8.2935 11.825 8 11 8C10.175 8 9.469 8.2935 8.882 8.8805C8.294 9.4685 8 10.175 8 11C8 11.825 8.294 12.531 8.882 13.118C9.469 13.706 10.175 14 11 14ZM0.5 30.5V27.5H21.5V30.5H0.5Z" fill="#D6377F"/>
              </svg>
            </div>

            <div class="meetup__txt">
              <p class="meetup__txt-title">
                Location
              </p>
              <p class="meetup__txt-desc">
                Bangabandhu International Conference Center,
                Begum Rokeya Avenue, Dhaka-1207
              </p>
            </div>
          </div>
        </div>
        <div class="meetup__buttons-wrapper">
          <a href="#" class="meetup__ticket ticket">
            <span class="ticket__svg-wrapper">
                <img src="img/ticket.svg" alt="Ticket icon">
            </span>
            <span class="ticket__txt">Get Ticket</span>
          </a>
          <a href="#" class="meetup__more-btn">Learn more</a>
        </div>
      </div>

      <div class="meetup__images ">

        <!--<div class="meetup__l-img">-->
          <img src="img/meetup-lines.png" alt="Horizontal lines" class="meetup__img-lines">
        <div class="meetup__l-img-btn">
          <div class="meetup__img-wrapper meetup__img-wrapper--left">
            <img src="img/meetup-1.jpg" alt="Our expert" class="meetup__img">
          </div>

          <a href="#" class="meetup__show-btn">
            <span class="">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M-3.0598e-07 7L12.175 7L6.575 1.4L8 -3.49691e-07L16 8L8 16L6.575 14.6L12.175 9L-3.93402e-07 9L-3.0598e-07 7Z" fill="white"/>
              </svg>
            </span>
          </a>
        </div>
        <!--</div>-->

        <!--<div class="meetup__r-img">-->
          <img src="img/meetup-waves.png" alt="Waves" class="meetup__img-waves">
          <div class="meetup__img-wrapper meetup__img-wrapper--right">
            <img src="img/meetup-2.jpg" alt="Сonference" class="meetup__img">
          </div>
        <!--</div>-->
      </div>
    </div>
  </div>
</section>