<section class="schedule">
  <div class="content">
      <div class="schedule__row">
          <div class="schedule__header">
              <div class="schedule__svg-block">
                  <div class="schedule__svg-wrapper">
                    <svg width="45" height="32" viewBox="0 0 45 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g opacity="0.6" clip-path="url(#clip0_1_181)">
                              <path d="M40.57 11.62C46 17 46.01 25.73 40.57 31.12L20.89 11.62C26.32 6.23996 35.14 6.23996 40.57 11.62Z" fill="#151A25"/>
                              <path d="M4.96001 20.74C-0.469988 15.36 -0.469988 6.63 4.96001 1.25L24.64 20.74C19.21 26.12 10.39 26.12 4.96001 20.74V20.74Z" stroke="#151A25" stroke-width="1.77" stroke-miterlimit="10"/>
                          </g>
                          <defs>
                              <clipPath id="clip0_1_181">
                                  <rect width="44.64" height="31.11" fill="white"/>
                              </clipPath>
                          </defs>
                      </svg>
                  </div>
              </div>
              <h2 class="schedule__title">Event Schedules</h2>
              <div class="schedule__tabs-outer">
                  <div class="schedule__tabs-panel tabs-panel">
                      <button class="tabs-panel__link" type="button" onclick="openTab(this, 'tab1');" id="defaultTab">
                          Day 01
                      </button>
                      <button class="tabs-panel__link" type="button" onclick="openTab(this, 'tab2');">
                          Day 02
                      </button>
                      <button class="tabs-panel__link" type="button" onclick="openTab(this, 'tab3');">
                          Day 03
                      </button>
                  </div>
              </div>
          </div>
              <div class="schedule__body">
                  <div class="schedule__tabs-content tab-item" id="tab1">
                      <div class="schedule__events">
                          <div class="schedule__event">
                              <div class="schedule__time-wrapper">
                                  <div class="schedule__circle">
                                      <div class="schedule__vertical-line"></div>
                                  </div>
                                  <div class="schedule__time">
                                      <time class="schedule__time-val" datetime="">8:00</time>
                                      <span class="schedule__time-midnight">AM</span>
                                  </div>
                              </div>
                              <div class="schedule__event-desc event-info">
                                  <div class="event-info__txt">
                                    <p class="event-info__title">Entry Registration & Continental Breakfast</p>
                                    <div class="event-info__details">
                                      <div class="event-info__time-range period">
                                            <span class="period__svg-wrapper">
                                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M9.00009 17.3333C7.95842 17.3333 6.98287 17.1355 6.07343 16.74C5.16343 16.3439 4.37176 15.8089 3.69843 15.135C3.02454 14.4616 2.48954 13.67 2.09342 12.76C1.69787 11.8505 1.50009 10.875 1.50009 9.83331C1.50009 8.79165 1.69787 7.81581 2.09342 6.90581C2.48954 5.99637 3.02454 5.2047 3.69843 4.53081C4.37176 3.85748 5.16343 3.32304 6.07343 2.92748C6.98287 2.53137 7.95842 2.33331 9.00009 2.33331C10.0418 2.33331 11.0176 2.53137 11.9276 2.92748C12.837 3.32304 13.6287 3.85748 14.3026 4.53081C14.9759 5.2047 15.5106 5.99637 15.9068 6.90581C16.3023 7.81581 16.5001 8.79165 16.5001 9.83331C16.5001 10.875 16.3023 11.8505 15.9068 12.76C15.5106 13.67 14.9759 14.4616 14.3026 15.135C13.6287 15.8089 12.837 16.3439 11.9276 16.74C11.0176 17.1355 10.0418 17.3333 9.00009 17.3333ZM11.3334 13.3333L12.5001 12.1666L9.83343 9.49998V5.66665H8.16676V10.1666L11.3334 13.3333ZM3.66676 0.958313L4.83343 2.12498L1.29176 5.66665L0.125092 4.49998L3.66676 0.958313ZM14.3334 0.958313L17.8751 4.49998L16.7084 5.66665L13.1668 2.12498L14.3334 0.958313ZM9.00009 15.6666C10.6251 15.6666 12.0034 15.1005 13.1351 13.9683C14.2673 12.8366 14.8334 11.4583 14.8334 9.83331C14.8334 8.20831 14.2673 6.8297 13.1351 5.69748C12.0034 4.56581 10.6251 3.99998 9.00009 3.99998C7.37509 3.99998 5.99676 4.56581 4.86509 5.69748C3.73287 6.8297 3.16676 8.20831 3.16676 9.83331C3.16676 11.4583 3.73287 12.8366 4.86509 13.9683C5.99676 15.1005 7.37509 15.6666 9.00009 15.6666Z" fill="#676767"/>
                                                </svg>
                                            </span>
                                            <p class="period__wrapper">
                                                <time class="period__beginning-time" datetime="">8:00</time>
                                                <span class="period__midnight">AM - </span>
                                                <time class="period__beginning-time" datetime="">9:00</time>
                                                <span class="period__midnight">AM</span>
                                            </p>
                                      </div>
                                      <p class="event-info__location-wrapper location">
                                        <span class="location__svg-wrapper">
                                            <svg width="12" height="18" viewBox="0 0 12 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M6.00001 12.7292C7.37501 11.6181 8.41334 10.5486 9.11501 9.52085C9.81612 8.49308 10.1667 7.5278 10.1667 6.62502C10.1667 5.84724 10.0245 5.18391 9.74001 4.63502C9.45501 4.08669 9.10417 3.64224 8.68751 3.30169C8.27084 2.96169 7.81945 2.7153 7.33334 2.56252C6.84723 2.40974 6.40278 2.33335 6.00001 2.33335C5.59723 2.33335 5.15278 2.40974 4.66667 2.56252C4.18056 2.7153 3.72917 2.96169 3.31251 3.30169C2.89584 3.64224 2.54528 4.08669 2.26084 4.63502C1.97584 5.18391 1.83334 5.84724 1.83334 6.62502C1.83334 7.5278 2.18389 8.49308 2.88501 9.52085C3.58667 10.5486 4.62501 11.6181 6.00001 12.7292ZM6.00001 14.8334C4.04167 13.3889 2.57973 11.9861 1.61417 10.625C0.649172 9.26391 0.166672 7.93058 0.166672 6.62502C0.166672 5.63891 0.343894 4.77419 0.698338 4.03085C1.05223 3.28808 1.50695 2.66669 2.06251 2.16669C2.61806 1.66669 3.24306 1.29169 3.93751 1.04169C4.63195 0.791687 5.31945 0.666687 6.00001 0.666687C6.68056 0.666687 7.36806 0.791687 8.06251 1.04169C8.75695 1.29169 9.38195 1.66669 9.93751 2.16669C10.4931 2.66669 10.9481 3.28808 11.3025 4.03085C11.6564 4.77419 11.8333 5.63891 11.8333 6.62502C11.8333 7.93058 11.3506 9.26391 10.385 10.625C9.42 11.9861 7.95834 13.3889 6.00001 14.8334ZM6.00001 8.16669C6.45834 8.16669 6.85084 8.00335 7.17751 7.67669C7.50362 7.35058 7.66667 6.95835 7.66667 6.50002C7.66667 6.04169 7.50362 5.64919 7.17751 5.32252C6.85084 4.99641 6.45834 4.83335 6.00001 4.83335C5.54167 4.83335 5.14945 4.99641 4.82334 5.32252C4.49667 5.64919 4.33334 6.04169 4.33334 6.50002C4.33334 6.95835 4.49667 7.35058 4.82334 7.67669C5.14945 8.00335 5.54167 8.16669 6.00001 8.16669ZM0.166672 17.3334V15.6667H11.8333V17.3334H0.166672Z" fill="#676767"/>
                                            </svg>
                                        </span>
                                        <span class="location__name">Dining Hall</span>
                                      </p>
                                      </div>

                                  </div>
                                  <div class="event-info__btn-wrapper">
                                      <a href="#" class="event-info__details-btn">
                                          View Details
                                      </a>
                                  </div>
                                  <div class="event-info__speakers speakers-sch">
                                      <div class="speakers-sch__img-max-w">
                                          <div class="speakers-sch__img-wrapper">
                                              <img src="img/speaker-1.jpg" alt="Speaker" class="speakers-sch__photo">
                                          </div>
                                      </div>
                                      <div class="speakers-sch__img-max-w">
                                          <div class="speakers-sch__img-wrapper">
                                              <img src="img/speaker-2.jpg" alt="Speaker" class="speakers-sch__photo">
                                          </div>
                                      </div>
                                      <div class="speakers-sch__img-max-w">
                                          <div class="speakers-sch__img-wrapper">
                                              <img src="img/speaker-3.jpg" alt="Speaker" class="speakers-sch__photo">
                                          </div>
                                      </div>
                                      <div class="speakers-sch__img-max-w">
                                          <div class="speakers-sch__img-wrapper">
                                            <img src="img/speaker-4.jpg" alt="Speaker" class="speakers-sch__photo">
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="schedule__event">
                              <div class="schedule__time-wrapper">
                                  <div class="schedule__circle">
                                      <div class="schedule__vertical-line"></div>
                                  </div>
                                  <div class="schedule__time">
                                      <time class="schedule__time-val" datetime="">9:00</time>
                                      <span class="schedule__time-midnight">AM</span>
                                  </div>
                              </div>
                              <div class="schedule__event-desc event-info">
                                  <div class="event-info__txt">
                                      <p class="event-info__title">Introduction Creative Design | Carrier Guideline</p>
                                      <div class="event-info__details">
                                          <div class="event-info__time-range period">
                                            <span class="period__svg-wrapper">
                                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M9.00009 17.3333C7.95842 17.3333 6.98287 17.1355 6.07343 16.74C5.16343 16.3439 4.37176 15.8089 3.69843 15.135C3.02454 14.4616 2.48954 13.67 2.09342 12.76C1.69787 11.8505 1.50009 10.875 1.50009 9.83331C1.50009 8.79165 1.69787 7.81581 2.09342 6.90581C2.48954 5.99637 3.02454 5.2047 3.69843 4.53081C4.37176 3.85748 5.16343 3.32304 6.07343 2.92748C6.98287 2.53137 7.95842 2.33331 9.00009 2.33331C10.0418 2.33331 11.0176 2.53137 11.9276 2.92748C12.837 3.32304 13.6287 3.85748 14.3026 4.53081C14.9759 5.2047 15.5106 5.99637 15.9068 6.90581C16.3023 7.81581 16.5001 8.79165 16.5001 9.83331C16.5001 10.875 16.3023 11.8505 15.9068 12.76C15.5106 13.67 14.9759 14.4616 14.3026 15.135C13.6287 15.8089 12.837 16.3439 11.9276 16.74C11.0176 17.1355 10.0418 17.3333 9.00009 17.3333ZM11.3334 13.3333L12.5001 12.1666L9.83343 9.49998V5.66665H8.16676V10.1666L11.3334 13.3333ZM3.66676 0.958313L4.83343 2.12498L1.29176 5.66665L0.125092 4.49998L3.66676 0.958313ZM14.3334 0.958313L17.8751 4.49998L16.7084 5.66665L13.1668 2.12498L14.3334 0.958313ZM9.00009 15.6666C10.6251 15.6666 12.0034 15.1005 13.1351 13.9683C14.2673 12.8366 14.8334 11.4583 14.8334 9.83331C14.8334 8.20831 14.2673 6.8297 13.1351 5.69748C12.0034 4.56581 10.6251 3.99998 9.00009 3.99998C7.37509 3.99998 5.99676 4.56581 4.86509 5.69748C3.73287 6.8297 3.16676 8.20831 3.16676 9.83331C3.16676 11.4583 3.73287 12.8366 4.86509 13.9683C5.99676 15.1005 7.37509 15.6666 9.00009 15.6666Z" fill="#676767"/>
                                                </svg>
                                            </span>
                                              <p class="period__wrapper">
                                                  <time class="period__beginning-time" datetime="">9:00</time>
                                                  <span class="period__midnight">AM - </span>
                                                  <time class="period__beginning-time" datetime="">10:00</time>
                                                  <span class="period__midnight">AM</span>
                                              </p>
                                          </div>
                                          <p class="event-info__location-wrapper location">
                                        <span class="location__svg-wrapper">
                                            <svg width="12" height="18" viewBox="0 0 12 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M6.00001 12.7292C7.37501 11.6181 8.41334 10.5486 9.11501 9.52085C9.81612 8.49308 10.1667 7.5278 10.1667 6.62502C10.1667 5.84724 10.0245 5.18391 9.74001 4.63502C9.45501 4.08669 9.10417 3.64224 8.68751 3.30169C8.27084 2.96169 7.81945 2.7153 7.33334 2.56252C6.84723 2.40974 6.40278 2.33335 6.00001 2.33335C5.59723 2.33335 5.15278 2.40974 4.66667 2.56252C4.18056 2.7153 3.72917 2.96169 3.31251 3.30169C2.89584 3.64224 2.54528 4.08669 2.26084 4.63502C1.97584 5.18391 1.83334 5.84724 1.83334 6.62502C1.83334 7.5278 2.18389 8.49308 2.88501 9.52085C3.58667 10.5486 4.62501 11.6181 6.00001 12.7292ZM6.00001 14.8334C4.04167 13.3889 2.57973 11.9861 1.61417 10.625C0.649172 9.26391 0.166672 7.93058 0.166672 6.62502C0.166672 5.63891 0.343894 4.77419 0.698338 4.03085C1.05223 3.28808 1.50695 2.66669 2.06251 2.16669C2.61806 1.66669 3.24306 1.29169 3.93751 1.04169C4.63195 0.791687 5.31945 0.666687 6.00001 0.666687C6.68056 0.666687 7.36806 0.791687 8.06251 1.04169C8.75695 1.29169 9.38195 1.66669 9.93751 2.16669C10.4931 2.66669 10.9481 3.28808 11.3025 4.03085C11.6564 4.77419 11.8333 5.63891 11.8333 6.62502C11.8333 7.93058 11.3506 9.26391 10.385 10.625C9.42 11.9861 7.95834 13.3889 6.00001 14.8334ZM6.00001 8.16669C6.45834 8.16669 6.85084 8.00335 7.17751 7.67669C7.50362 7.35058 7.66667 6.95835 7.66667 6.50002C7.66667 6.04169 7.50362 5.64919 7.17751 5.32252C6.85084 4.99641 6.45834 4.83335 6.00001 4.83335C5.54167 4.83335 5.14945 4.99641 4.82334 5.32252C4.49667 5.64919 4.33334 6.04169 4.33334 6.50002C4.33334 6.95835 4.49667 7.35058 4.82334 7.67669C5.14945 8.00335 5.54167 8.16669 6.00001 8.16669ZM0.166672 17.3334V15.6667H11.8333V17.3334H0.166672Z" fill="#676767"/>
                                            </svg>
                                        </span>
                                              <span class="location__name">Hall of Fame 01</span>
                                          </p>
                                      </div>

                                  </div>
                                  <div class="event-info__btn-wrapper">
                                      <a href="#" class="event-info__details-btn">
                                          View Details
                                      </a>
                                  </div>
                                  <div class="event-info__speakers speakers-sch">
                                      <div class="speakers-sch__img-max-w">
                                          <div class="speakers-sch__img-wrapper">
                                              <img src="img/speaker-1.jpg" alt="Speaker" class="speakers-sch__photo">
                                          </div>
                                      </div>

                                  </div>
                              </div>
                          </div>

                          <div class="schedule__event">
                              <div class="schedule__time-wrapper">
                                  <div class="schedule__circle">
                                      <div class="schedule__vertical-line"></div>
                                  </div>
                                  <div class="schedule__time">
                                      <time class="schedule__time-val" datetime="">10:00</time>
                                      <span class="schedule__time-midnight">AM</span>
                                  </div>
                              </div>
                              <div class="schedule__event-desc event-info">
                                  <div class="event-info__txt">
                                      <p class="event-info__title">Introduction UX Design | Carrier Guideline</p>
                                      <div class="event-info__details">
                                          <div class="event-info__time-range period">
                                            <span class="period__svg-wrapper">
                                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M9.00009 17.3333C7.95842 17.3333 6.98287 17.1355 6.07343 16.74C5.16343 16.3439 4.37176 15.8089 3.69843 15.135C3.02454 14.4616 2.48954 13.67 2.09342 12.76C1.69787 11.8505 1.50009 10.875 1.50009 9.83331C1.50009 8.79165 1.69787 7.81581 2.09342 6.90581C2.48954 5.99637 3.02454 5.2047 3.69843 4.53081C4.37176 3.85748 5.16343 3.32304 6.07343 2.92748C6.98287 2.53137 7.95842 2.33331 9.00009 2.33331C10.0418 2.33331 11.0176 2.53137 11.9276 2.92748C12.837 3.32304 13.6287 3.85748 14.3026 4.53081C14.9759 5.2047 15.5106 5.99637 15.9068 6.90581C16.3023 7.81581 16.5001 8.79165 16.5001 9.83331C16.5001 10.875 16.3023 11.8505 15.9068 12.76C15.5106 13.67 14.9759 14.4616 14.3026 15.135C13.6287 15.8089 12.837 16.3439 11.9276 16.74C11.0176 17.1355 10.0418 17.3333 9.00009 17.3333ZM11.3334 13.3333L12.5001 12.1666L9.83343 9.49998V5.66665H8.16676V10.1666L11.3334 13.3333ZM3.66676 0.958313L4.83343 2.12498L1.29176 5.66665L0.125092 4.49998L3.66676 0.958313ZM14.3334 0.958313L17.8751 4.49998L16.7084 5.66665L13.1668 2.12498L14.3334 0.958313ZM9.00009 15.6666C10.6251 15.6666 12.0034 15.1005 13.1351 13.9683C14.2673 12.8366 14.8334 11.4583 14.8334 9.83331C14.8334 8.20831 14.2673 6.8297 13.1351 5.69748C12.0034 4.56581 10.6251 3.99998 9.00009 3.99998C7.37509 3.99998 5.99676 4.56581 4.86509 5.69748C3.73287 6.8297 3.16676 8.20831 3.16676 9.83331C3.16676 11.4583 3.73287 12.8366 4.86509 13.9683C5.99676 15.1005 7.37509 15.6666 9.00009 15.6666Z" fill="#676767"/>
                                                </svg>
                                            </span>
                                              <p class="period__wrapper">
                                                  <time class="period__beginning-time" datetime="">10:00</time>
                                                  <span class="period__midnight">AM - </span>
                                                  <time class="period__beginning-time" datetime="">12:00</time>
                                                  <span class="period__midnight">PM</span>
                                              </p>
                                          </div>
                                          <p class="event-info__location-wrapper location">
                                        <span class="location__svg-wrapper">
                                            <svg width="12" height="18" viewBox="0 0 12 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M6.00001 12.7292C7.37501 11.6181 8.41334 10.5486 9.11501 9.52085C9.81612 8.49308 10.1667 7.5278 10.1667 6.62502C10.1667 5.84724 10.0245 5.18391 9.74001 4.63502C9.45501 4.08669 9.10417 3.64224 8.68751 3.30169C8.27084 2.96169 7.81945 2.7153 7.33334 2.56252C6.84723 2.40974 6.40278 2.33335 6.00001 2.33335C5.59723 2.33335 5.15278 2.40974 4.66667 2.56252C4.18056 2.7153 3.72917 2.96169 3.31251 3.30169C2.89584 3.64224 2.54528 4.08669 2.26084 4.63502C1.97584 5.18391 1.83334 5.84724 1.83334 6.62502C1.83334 7.5278 2.18389 8.49308 2.88501 9.52085C3.58667 10.5486 4.62501 11.6181 6.00001 12.7292ZM6.00001 14.8334C4.04167 13.3889 2.57973 11.9861 1.61417 10.625C0.649172 9.26391 0.166672 7.93058 0.166672 6.62502C0.166672 5.63891 0.343894 4.77419 0.698338 4.03085C1.05223 3.28808 1.50695 2.66669 2.06251 2.16669C2.61806 1.66669 3.24306 1.29169 3.93751 1.04169C4.63195 0.791687 5.31945 0.666687 6.00001 0.666687C6.68056 0.666687 7.36806 0.791687 8.06251 1.04169C8.75695 1.29169 9.38195 1.66669 9.93751 2.16669C10.4931 2.66669 10.9481 3.28808 11.3025 4.03085C11.6564 4.77419 11.8333 5.63891 11.8333 6.62502C11.8333 7.93058 11.3506 9.26391 10.385 10.625C9.42 11.9861 7.95834 13.3889 6.00001 14.8334ZM6.00001 8.16669C6.45834 8.16669 6.85084 8.00335 7.17751 7.67669C7.50362 7.35058 7.66667 6.95835 7.66667 6.50002C7.66667 6.04169 7.50362 5.64919 7.17751 5.32252C6.85084 4.99641 6.45834 4.83335 6.00001 4.83335C5.54167 4.83335 5.14945 4.99641 4.82334 5.32252C4.49667 5.64919 4.33334 6.04169 4.33334 6.50002C4.33334 6.95835 4.49667 7.35058 4.82334 7.67669C5.14945 8.00335 5.54167 8.16669 6.00001 8.16669ZM0.166672 17.3334V15.6667H11.8333V17.3334H0.166672Z" fill="#676767"/>
                                            </svg>
                                        </span>
                                              <span class="location__name">Hall of Fame 01</span>
                                          </p>
                                      </div>

                                  </div>
                                  <div class="event-info__btn-wrapper">
                                      <a href="#" class="event-info__details-btn">
                                          View Details
                                      </a>
                                  </div>
                                  <div class="event-info__speakers speakers-sch">
                                      <div class="speakers-sch__img-max-w">
                                          <div class="speakers-sch__img-wrapper">
                                              <img src="img/speaker-1.jpg" alt="Speaker" class="speakers-sch__photo">
                                          </div>
                                      </div>
                                      <div class="speakers-sch__img-max-w">
                                          <div class="speakers-sch__img-wrapper">
                                              <img src="img/speaker-2.jpg" alt="Speaker" class="speakers-sch__photo">
                                          </div>
                                      </div>
                                      <div class="speakers-sch__img-max-w">
                                          <div class="speakers-sch__img-wrapper">
                                              <img src="img/speaker-3.jpg" alt="Speaker" class="speakers-sch__photo">
                                          </div>
                                      </div>
                                      <div class="speakers-sch__img-max-w">
                                          <div class="speakers-sch__img-wrapper">
                                              <img src="img/speaker-4.jpg" alt="Speaker" class="speakers-sch__photo">
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="schedule__event">
                              <div class="schedule__time-wrapper">
                                  <div class="schedule__circle"></div>
                                  <div class="schedule__time">
                                      <time class="schedule__time-val" datetime="">12:00</time>
                                      <span class="schedule__time-midnight">PM</span>
                                  </div>
                              </div>
                              <div class="schedule__event-desc event-info">
                                  <div class="event-info__txt">
                                      <p class="event-info__title">Lunch Break</p>
                                      <div class="event-info__details">
                                          <div class="event-info__time-range period">
                                            <span class="period__svg-wrapper">
                                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M9.00009 17.3333C7.95842 17.3333 6.98287 17.1355 6.07343 16.74C5.16343 16.3439 4.37176 15.8089 3.69843 15.135C3.02454 14.4616 2.48954 13.67 2.09342 12.76C1.69787 11.8505 1.50009 10.875 1.50009 9.83331C1.50009 8.79165 1.69787 7.81581 2.09342 6.90581C2.48954 5.99637 3.02454 5.2047 3.69843 4.53081C4.37176 3.85748 5.16343 3.32304 6.07343 2.92748C6.98287 2.53137 7.95842 2.33331 9.00009 2.33331C10.0418 2.33331 11.0176 2.53137 11.9276 2.92748C12.837 3.32304 13.6287 3.85748 14.3026 4.53081C14.9759 5.2047 15.5106 5.99637 15.9068 6.90581C16.3023 7.81581 16.5001 8.79165 16.5001 9.83331C16.5001 10.875 16.3023 11.8505 15.9068 12.76C15.5106 13.67 14.9759 14.4616 14.3026 15.135C13.6287 15.8089 12.837 16.3439 11.9276 16.74C11.0176 17.1355 10.0418 17.3333 9.00009 17.3333ZM11.3334 13.3333L12.5001 12.1666L9.83343 9.49998V5.66665H8.16676V10.1666L11.3334 13.3333ZM3.66676 0.958313L4.83343 2.12498L1.29176 5.66665L0.125092 4.49998L3.66676 0.958313ZM14.3334 0.958313L17.8751 4.49998L16.7084 5.66665L13.1668 2.12498L14.3334 0.958313ZM9.00009 15.6666C10.6251 15.6666 12.0034 15.1005 13.1351 13.9683C14.2673 12.8366 14.8334 11.4583 14.8334 9.83331C14.8334 8.20831 14.2673 6.8297 13.1351 5.69748C12.0034 4.56581 10.6251 3.99998 9.00009 3.99998C7.37509 3.99998 5.99676 4.56581 4.86509 5.69748C3.73287 6.8297 3.16676 8.20831 3.16676 9.83331C3.16676 11.4583 3.73287 12.8366 4.86509 13.9683C5.99676 15.1005 7.37509 15.6666 9.00009 15.6666Z" fill="#676767"/>
                                                </svg>
                                            </span>
                                              <p class="period__wrapper">
                                                  <time class="period__beginning-time" datetime="">12:00</time>
                                                  <span class="period__midnight">PM - </span>
                                                  <time class="period__beginning-time" datetime="">2:00</time>
                                                  <span class="period__midnight">PM</span>
                                              </p>
                                          </div>
                                          <p class="event-info__location-wrapper location">
                                        <span class="location__svg-wrapper">
                                            <svg width="12" height="18" viewBox="0 0 12 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M6.00001 12.7292C7.37501 11.6181 8.41334 10.5486 9.11501 9.52085C9.81612 8.49308 10.1667 7.5278 10.1667 6.62502C10.1667 5.84724 10.0245 5.18391 9.74001 4.63502C9.45501 4.08669 9.10417 3.64224 8.68751 3.30169C8.27084 2.96169 7.81945 2.7153 7.33334 2.56252C6.84723 2.40974 6.40278 2.33335 6.00001 2.33335C5.59723 2.33335 5.15278 2.40974 4.66667 2.56252C4.18056 2.7153 3.72917 2.96169 3.31251 3.30169C2.89584 3.64224 2.54528 4.08669 2.26084 4.63502C1.97584 5.18391 1.83334 5.84724 1.83334 6.62502C1.83334 7.5278 2.18389 8.49308 2.88501 9.52085C3.58667 10.5486 4.62501 11.6181 6.00001 12.7292ZM6.00001 14.8334C4.04167 13.3889 2.57973 11.9861 1.61417 10.625C0.649172 9.26391 0.166672 7.93058 0.166672 6.62502C0.166672 5.63891 0.343894 4.77419 0.698338 4.03085C1.05223 3.28808 1.50695 2.66669 2.06251 2.16669C2.61806 1.66669 3.24306 1.29169 3.93751 1.04169C4.63195 0.791687 5.31945 0.666687 6.00001 0.666687C6.68056 0.666687 7.36806 0.791687 8.06251 1.04169C8.75695 1.29169 9.38195 1.66669 9.93751 2.16669C10.4931 2.66669 10.9481 3.28808 11.3025 4.03085C11.6564 4.77419 11.8333 5.63891 11.8333 6.62502C11.8333 7.93058 11.3506 9.26391 10.385 10.625C9.42 11.9861 7.95834 13.3889 6.00001 14.8334ZM6.00001 8.16669C6.45834 8.16669 6.85084 8.00335 7.17751 7.67669C7.50362 7.35058 7.66667 6.95835 7.66667 6.50002C7.66667 6.04169 7.50362 5.64919 7.17751 5.32252C6.85084 4.99641 6.45834 4.83335 6.00001 4.83335C5.54167 4.83335 5.14945 4.99641 4.82334 5.32252C4.49667 5.64919 4.33334 6.04169 4.33334 6.50002C4.33334 6.95835 4.49667 7.35058 4.82334 7.67669C5.14945 8.00335 5.54167 8.16669 6.00001 8.16669ZM0.166672 17.3334V15.6667H11.8333V17.3334H0.166672Z" fill="#676767"/>
                                            </svg>
                                        </span>
                                              <span class="location__name">Dining Hall</span>
                                          </p>
                                      </div>

                                  </div>
                                  <div class="event-info__btn-wrapper">
                                      <a href="#" class="event-info__details-btn">
                                          View Details
                                      </a>
                                  </div>
                                  <div class="event-info__speakers speakers-sch">
                                      <div class="speakers-sch__img-max-w">
                                          <div class="speakers-sch__img-wrapper">
                                              <img src="img/speaker-1.jpg" alt="Speaker" class="speakers-sch__photo">
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>
                  <div class="schedule__tabs-content tab-item" id="tab2">
                      <h3>Second tab</h3>
                  </div>
                  <div class="schedule__tabs-content tab-item" id="tab3">
                      <h3>Third tab</h3>
                  </div>
              </div>
          </div>
      </div>
</section>