<section class="speakers">
    <div class="content">
        <div class="speakers__row">
            <div class="speakers__slider-outer">
                <div class="speakers__slider swiper-slider">
                    <div class="speakers__slider-wrapper swiper-wrapper">

                        <div class="speakers__slide-outer swiper-slide slide">
                            <div class="slide__inner">
                                <img src="img/sp-3.jpg" alt="Speaker" class="slide__sp-img background-img">
                                <div class="slide__content">
                                    <p class="slide__sp-name">Brooklyn Simmons</p>
                                    <p class="slide__sp-position">Designer Manager, Google</p>
                                    <div class="slide__sp-socials">
                                        <a href="#" class="slide__sp-social">
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle cx="8" cy="8" r="7" fill="url(#paint0_linear_1_627)"/>
                                                <path d="M10.6069 10.1408L10.9178 8.16505H8.97261V6.8835C8.97261 6.34285 9.24383 5.81553 10.1151 5.81553H11V4.1335C11 4.1335 10.1973 4 9.43013 4C7.82742 4 6.78083 4.94647 6.78083 6.65922V8.16505H5V10.1408H6.78083V14.9172C7.13835 14.972 7.50412 15 7.87672 15C8.24932 15 8.61509 14.972 8.97261 14.9172V10.1408H10.6069Z" fill="white"/>
                                                <defs>
                                                    <linearGradient id="paint0_linear_1_627" x1="8" y1="1" x2="8" y2="14.9585" gradientUnits="userSpaceOnUse">
                                                        <stop stop-color="#18ACFE"/>
                                                        <stop offset="1" stop-color="#0163E0"/>
                                                    </linearGradient>
                                                </defs>
                                            </svg>
                                        </a>
                                        <a href="#" class="slide__sp-social">
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect x="1" y="1" width="14" height="14" rx="6" fill="url(#paint0_radial_1_628)"/>
                                                <rect x="1" y="1" width="14" height="14" rx="6" fill="url(#paint1_radial_1_628)"/>
                                                <rect x="1" y="1" width="14" height="14" rx="6" fill="url(#paint2_radial_1_628)"/>
                                                <path d="M11.5 5.25C11.5 5.66421 11.1642 6 10.75 6C10.3358 6 10 5.66421 10 5.25C10 4.83579 10.3358 4.5 10.75 4.5C11.1642 4.5 11.5 4.83579 11.5 5.25Z" fill="white"/>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8 10.5C9.38071 10.5 10.5 9.38071 10.5 8C10.5 6.61929 9.38071 5.5 8 5.5C6.61929 5.5 5.5 6.61929 5.5 8C5.5 9.38071 6.61929 10.5 8 10.5ZM8 9.5C8.82843 9.5 9.5 8.82843 9.5 8C9.5 7.17157 8.82843 6.5 8 6.5C7.17157 6.5 6.5 7.17157 6.5 8C6.5 8.82843 7.17157 9.5 8 9.5Z" fill="white"/>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3 7.8C3 6.11984 3 5.27976 3.32698 4.63803C3.6146 4.07354 4.07354 3.6146 4.63803 3.32698C5.27976 3 6.11984 3 7.8 3H8.2C9.88016 3 10.7202 3 11.362 3.32698C11.9265 3.6146 12.3854 4.07354 12.673 4.63803C13 5.27976 13 6.11984 13 7.8V8.2C13 9.88016 13 10.7202 12.673 11.362C12.3854 11.9265 11.9265 12.3854 11.362 12.673C10.7202 13 9.88016 13 8.2 13H7.8C6.11984 13 5.27976 13 4.63803 12.673C4.07354 12.3854 3.6146 11.9265 3.32698 11.362C3 10.7202 3 9.88016 3 8.2V7.8ZM7.8 4H8.2C9.05658 4 9.63887 4.00078 10.089 4.03755C10.5274 4.07337 10.7516 4.1383 10.908 4.21799C11.2843 4.40973 11.5903 4.71569 11.782 5.09202C11.8617 5.24842 11.9266 5.47262 11.9624 5.91104C11.9992 6.36113 12 6.94342 12 7.8V8.2C12 9.05658 11.9992 9.63887 11.9624 10.089C11.9266 10.5274 11.8617 10.7516 11.782 10.908C11.5903 11.2843 11.2843 11.5903 10.908 11.782C10.7516 11.8617 10.5274 11.9266 10.089 11.9624C9.63887 11.9992 9.05658 12 8.2 12H7.8C6.94342 12 6.36113 11.9992 5.91104 11.9624C5.47262 11.9266 5.24842 11.8617 5.09202 11.782C4.71569 11.5903 4.40973 11.2843 4.21799 10.908C4.1383 10.7516 4.07337 10.5274 4.03755 10.089C4.00078 9.63887 4 9.05658 4 8.2V7.8C4 6.94342 4.00078 6.36113 4.03755 5.91104C4.07337 5.47262 4.1383 5.24842 4.21799 5.09202C4.40973 4.71569 4.71569 4.40973 5.09202 4.21799C5.24842 4.1383 5.47262 4.07337 5.91104 4.03755C6.36113 4.00078 6.94342 4 7.8 4Z" fill="white"/>
                                                <defs>
                                                    <radialGradient id="paint0_radial_1_628" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(6 11.5) rotate(-55.3758) scale(12.7598)">
                                                        <stop stop-color="#B13589"/>
                                                        <stop offset="0.79309" stop-color="#C62F94"/>
                                                        <stop offset="1" stop-color="#8A3AC8"/>
                                                    </radialGradient>
                                                    <radialGradient id="paint1_radial_1_628" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(5.5 15.5) rotate(-65.1363) scale(11.2971)">
                                                        <stop stop-color="#E0E8B7"/>
                                                        <stop offset="0.444662" stop-color="#FB8A2E"/>
                                                        <stop offset="0.71474" stop-color="#E2425C"/>
                                                        <stop offset="1" stop-color="#E2425C" stop-opacity="0"/>
                                                    </radialGradient>
                                                    <radialGradient id="paint2_radial_1_628" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(0.250001 1.5) rotate(-8.1301) scale(19.4454 4.15918)">
                                                        <stop offset="0.156701" stop-color="#406ADC"/>
                                                        <stop offset="0.467799" stop-color="#6A45BE"/>
                                                        <stop offset="1" stop-color="#6A45BE" stop-opacity="0"/>
                                                    </radialGradient>
                                                </defs>
                                            </svg>

                                        </a>
                                        <a href="#" class="slide__sp-social">
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect x="1" y="1" width="14" height="14" rx="7" fill="#1275B1"/>
                                                <path d="M6.30928 4.84607C6.30928 5.31335 5.90426 5.69215 5.40464 5.69215C4.90502 5.69215 4.5 5.31335 4.5 4.84607C4.5 4.3788 4.90502 4 5.40464 4C5.90426 4 6.30928 4.3788 6.30928 4.84607Z" fill="white"/>
                                                <path d="M4.62371 6.31405H6.1701V11H4.62371V6.31405Z" fill="white"/>
                                                <path d="M8.65979 6.31405H7.1134V11H8.65979C8.65979 11 8.65979 9.52479 8.65979 8.60243C8.65979 8.04881 8.84883 7.49277 9.60309 7.49277C10.4555 7.49277 10.4504 8.21727 10.4464 8.77855C10.4412 9.51222 10.4536 10.2609 10.4536 11H12V8.52686C11.9869 6.94769 11.5754 6.22004 10.2216 6.22004C9.4177 6.22004 8.91936 6.58503 8.65979 6.91525V6.31405Z" fill="white"/>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="speakers__slide-outer swiper-slide slide">
                            <div class="slide__inner">
                                <img src="img/sp-2.jpg" alt="Speaker" class="slide__sp-img background-img">
                                <div class="slide__content">
                                    <p class="slide__sp-name">Brooklyn Simmons</p>
                                    <p class="slide__sp-position">Designer Manager, Google</p>
                                    <div class="slide__sp-socials">
                                        <a href="#" class="slide__sp-social">
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle cx="8" cy="8" r="7" fill="url(#paint0_linear_1_627)"/>
                                                <path d="M10.6069 10.1408L10.9178 8.16505H8.97261V6.8835C8.97261 6.34285 9.24383 5.81553 10.1151 5.81553H11V4.1335C11 4.1335 10.1973 4 9.43013 4C7.82742 4 6.78083 4.94647 6.78083 6.65922V8.16505H5V10.1408H6.78083V14.9172C7.13835 14.972 7.50412 15 7.87672 15C8.24932 15 8.61509 14.972 8.97261 14.9172V10.1408H10.6069Z" fill="white"/>
                                                <defs>
                                                    <linearGradient id="paint0_linear_1_627" x1="8" y1="1" x2="8" y2="14.9585" gradientUnits="userSpaceOnUse">
                                                        <stop stop-color="#18ACFE"/>
                                                        <stop offset="1" stop-color="#0163E0"/>
                                                    </linearGradient>
                                                </defs>
                                            </svg>
                                        </a>
                                        <a href="#" class="slide__sp-social">
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect x="1" y="1" width="14" height="14" rx="6" fill="url(#paint0_radial_1_628)"/>
                                                <rect x="1" y="1" width="14" height="14" rx="6" fill="url(#paint1_radial_1_628)"/>
                                                <rect x="1" y="1" width="14" height="14" rx="6" fill="url(#paint2_radial_1_628)"/>
                                                <path d="M11.5 5.25C11.5 5.66421 11.1642 6 10.75 6C10.3358 6 10 5.66421 10 5.25C10 4.83579 10.3358 4.5 10.75 4.5C11.1642 4.5 11.5 4.83579 11.5 5.25Z" fill="white"/>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8 10.5C9.38071 10.5 10.5 9.38071 10.5 8C10.5 6.61929 9.38071 5.5 8 5.5C6.61929 5.5 5.5 6.61929 5.5 8C5.5 9.38071 6.61929 10.5 8 10.5ZM8 9.5C8.82843 9.5 9.5 8.82843 9.5 8C9.5 7.17157 8.82843 6.5 8 6.5C7.17157 6.5 6.5 7.17157 6.5 8C6.5 8.82843 7.17157 9.5 8 9.5Z" fill="white"/>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3 7.8C3 6.11984 3 5.27976 3.32698 4.63803C3.6146 4.07354 4.07354 3.6146 4.63803 3.32698C5.27976 3 6.11984 3 7.8 3H8.2C9.88016 3 10.7202 3 11.362 3.32698C11.9265 3.6146 12.3854 4.07354 12.673 4.63803C13 5.27976 13 6.11984 13 7.8V8.2C13 9.88016 13 10.7202 12.673 11.362C12.3854 11.9265 11.9265 12.3854 11.362 12.673C10.7202 13 9.88016 13 8.2 13H7.8C6.11984 13 5.27976 13 4.63803 12.673C4.07354 12.3854 3.6146 11.9265 3.32698 11.362C3 10.7202 3 9.88016 3 8.2V7.8ZM7.8 4H8.2C9.05658 4 9.63887 4.00078 10.089 4.03755C10.5274 4.07337 10.7516 4.1383 10.908 4.21799C11.2843 4.40973 11.5903 4.71569 11.782 5.09202C11.8617 5.24842 11.9266 5.47262 11.9624 5.91104C11.9992 6.36113 12 6.94342 12 7.8V8.2C12 9.05658 11.9992 9.63887 11.9624 10.089C11.9266 10.5274 11.8617 10.7516 11.782 10.908C11.5903 11.2843 11.2843 11.5903 10.908 11.782C10.7516 11.8617 10.5274 11.9266 10.089 11.9624C9.63887 11.9992 9.05658 12 8.2 12H7.8C6.94342 12 6.36113 11.9992 5.91104 11.9624C5.47262 11.9266 5.24842 11.8617 5.09202 11.782C4.71569 11.5903 4.40973 11.2843 4.21799 10.908C4.1383 10.7516 4.07337 10.5274 4.03755 10.089C4.00078 9.63887 4 9.05658 4 8.2V7.8C4 6.94342 4.00078 6.36113 4.03755 5.91104C4.07337 5.47262 4.1383 5.24842 4.21799 5.09202C4.40973 4.71569 4.71569 4.40973 5.09202 4.21799C5.24842 4.1383 5.47262 4.07337 5.91104 4.03755C6.36113 4.00078 6.94342 4 7.8 4Z" fill="white"/>
                                                <defs>
                                                    <radialGradient id="paint0_radial_1_628" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(6 11.5) rotate(-55.3758) scale(12.7598)">
                                                        <stop stop-color="#B13589"/>
                                                        <stop offset="0.79309" stop-color="#C62F94"/>
                                                        <stop offset="1" stop-color="#8A3AC8"/>
                                                    </radialGradient>
                                                    <radialGradient id="paint1_radial_1_628" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(5.5 15.5) rotate(-65.1363) scale(11.2971)">
                                                        <stop stop-color="#E0E8B7"/>
                                                        <stop offset="0.444662" stop-color="#FB8A2E"/>
                                                        <stop offset="0.71474" stop-color="#E2425C"/>
                                                        <stop offset="1" stop-color="#E2425C" stop-opacity="0"/>
                                                    </radialGradient>
                                                    <radialGradient id="paint2_radial_1_628" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(0.250001 1.5) rotate(-8.1301) scale(19.4454 4.15918)">
                                                        <stop offset="0.156701" stop-color="#406ADC"/>
                                                        <stop offset="0.467799" stop-color="#6A45BE"/>
                                                        <stop offset="1" stop-color="#6A45BE" stop-opacity="0"/>
                                                    </radialGradient>
                                                </defs>
                                            </svg>

                                        </a>
                                        <a href="#" class="slide__sp-social">
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect x="1" y="1" width="14" height="14" rx="7" fill="#1275B1"/>
                                                <path d="M6.30928 4.84607C6.30928 5.31335 5.90426 5.69215 5.40464 5.69215C4.90502 5.69215 4.5 5.31335 4.5 4.84607C4.5 4.3788 4.90502 4 5.40464 4C5.90426 4 6.30928 4.3788 6.30928 4.84607Z" fill="white"/>
                                                <path d="M4.62371 6.31405H6.1701V11H4.62371V6.31405Z" fill="white"/>
                                                <path d="M8.65979 6.31405H7.1134V11H8.65979C8.65979 11 8.65979 9.52479 8.65979 8.60243C8.65979 8.04881 8.84883 7.49277 9.60309 7.49277C10.4555 7.49277 10.4504 8.21727 10.4464 8.77855C10.4412 9.51222 10.4536 10.2609 10.4536 11H12V8.52686C11.9869 6.94769 11.5754 6.22004 10.2216 6.22004C9.4177 6.22004 8.91936 6.58503 8.65979 6.91525V6.31405Z" fill="white"/>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="speakers__slide-outer swiper-slide slide">
                            <div class="slide__inner">
                                <img src="img/sp-1.jpg" alt="Speaker" class="slide__sp-img background-img">
                                <div class="slide__content">
                                    <p class="slide__sp-name">Afolabi David</p>
                                    <p class="slide__sp-position">Designer Manager, IBM</p>
                                    <div class="slide__sp-socials">
                                        <a href="#" class="slide__sp-social">
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle cx="8" cy="8" r="7" fill="url(#paint0_linear_1_627)"/>
                                                <path d="M10.6069 10.1408L10.9178 8.16505H8.97261V6.8835C8.97261 6.34285 9.24383 5.81553 10.1151 5.81553H11V4.1335C11 4.1335 10.1973 4 9.43013 4C7.82742 4 6.78083 4.94647 6.78083 6.65922V8.16505H5V10.1408H6.78083V14.9172C7.13835 14.972 7.50412 15 7.87672 15C8.24932 15 8.61509 14.972 8.97261 14.9172V10.1408H10.6069Z" fill="white"/>
                                                <defs>
                                                    <linearGradient id="paint0_linear_1_627" x1="8" y1="1" x2="8" y2="14.9585" gradientUnits="userSpaceOnUse">
                                                        <stop stop-color="#18ACFE"/>
                                                        <stop offset="1" stop-color="#0163E0"/>
                                                    </linearGradient>
                                                </defs>
                                            </svg>
                                        </a>
                                        <a href="#" class="slide__sp-social">
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect x="1" y="1" width="14" height="14" rx="6" fill="url(#paint0_radial_1_628)"/>
                                                <rect x="1" y="1" width="14" height="14" rx="6" fill="url(#paint1_radial_1_628)"/>
                                                <rect x="1" y="1" width="14" height="14" rx="6" fill="url(#paint2_radial_1_628)"/>
                                                <path d="M11.5 5.25C11.5 5.66421 11.1642 6 10.75 6C10.3358 6 10 5.66421 10 5.25C10 4.83579 10.3358 4.5 10.75 4.5C11.1642 4.5 11.5 4.83579 11.5 5.25Z" fill="white"/>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8 10.5C9.38071 10.5 10.5 9.38071 10.5 8C10.5 6.61929 9.38071 5.5 8 5.5C6.61929 5.5 5.5 6.61929 5.5 8C5.5 9.38071 6.61929 10.5 8 10.5ZM8 9.5C8.82843 9.5 9.5 8.82843 9.5 8C9.5 7.17157 8.82843 6.5 8 6.5C7.17157 6.5 6.5 7.17157 6.5 8C6.5 8.82843 7.17157 9.5 8 9.5Z" fill="white"/>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3 7.8C3 6.11984 3 5.27976 3.32698 4.63803C3.6146 4.07354 4.07354 3.6146 4.63803 3.32698C5.27976 3 6.11984 3 7.8 3H8.2C9.88016 3 10.7202 3 11.362 3.32698C11.9265 3.6146 12.3854 4.07354 12.673 4.63803C13 5.27976 13 6.11984 13 7.8V8.2C13 9.88016 13 10.7202 12.673 11.362C12.3854 11.9265 11.9265 12.3854 11.362 12.673C10.7202 13 9.88016 13 8.2 13H7.8C6.11984 13 5.27976 13 4.63803 12.673C4.07354 12.3854 3.6146 11.9265 3.32698 11.362C3 10.7202 3 9.88016 3 8.2V7.8ZM7.8 4H8.2C9.05658 4 9.63887 4.00078 10.089 4.03755C10.5274 4.07337 10.7516 4.1383 10.908 4.21799C11.2843 4.40973 11.5903 4.71569 11.782 5.09202C11.8617 5.24842 11.9266 5.47262 11.9624 5.91104C11.9992 6.36113 12 6.94342 12 7.8V8.2C12 9.05658 11.9992 9.63887 11.9624 10.089C11.9266 10.5274 11.8617 10.7516 11.782 10.908C11.5903 11.2843 11.2843 11.5903 10.908 11.782C10.7516 11.8617 10.5274 11.9266 10.089 11.9624C9.63887 11.9992 9.05658 12 8.2 12H7.8C6.94342 12 6.36113 11.9992 5.91104 11.9624C5.47262 11.9266 5.24842 11.8617 5.09202 11.782C4.71569 11.5903 4.40973 11.2843 4.21799 10.908C4.1383 10.7516 4.07337 10.5274 4.03755 10.089C4.00078 9.63887 4 9.05658 4 8.2V7.8C4 6.94342 4.00078 6.36113 4.03755 5.91104C4.07337 5.47262 4.1383 5.24842 4.21799 5.09202C4.40973 4.71569 4.71569 4.40973 5.09202 4.21799C5.24842 4.1383 5.47262 4.07337 5.91104 4.03755C6.36113 4.00078 6.94342 4 7.8 4Z" fill="white"/>
                                                <defs>
                                                    <radialGradient id="paint0_radial_1_628" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(6 11.5) rotate(-55.3758) scale(12.7598)">
                                                        <stop stop-color="#B13589"/>
                                                        <stop offset="0.79309" stop-color="#C62F94"/>
                                                        <stop offset="1" stop-color="#8A3AC8"/>
                                                    </radialGradient>
                                                    <radialGradient id="paint1_radial_1_628" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(5.5 15.5) rotate(-65.1363) scale(11.2971)">
                                                        <stop stop-color="#E0E8B7"/>
                                                        <stop offset="0.444662" stop-color="#FB8A2E"/>
                                                        <stop offset="0.71474" stop-color="#E2425C"/>
                                                        <stop offset="1" stop-color="#E2425C" stop-opacity="0"/>
                                                    </radialGradient>
                                                    <radialGradient id="paint2_radial_1_628" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(0.250001 1.5) rotate(-8.1301) scale(19.4454 4.15918)">
                                                        <stop offset="0.156701" stop-color="#406ADC"/>
                                                        <stop offset="0.467799" stop-color="#6A45BE"/>
                                                        <stop offset="1" stop-color="#6A45BE" stop-opacity="0"/>
                                                    </radialGradient>
                                                </defs>
                                            </svg>

                                        </a>
                                        <a href="#" class="slide__sp-social">
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect x="1" y="1" width="14" height="14" rx="7" fill="#1275B1"/>
                                                <path d="M6.30928 4.84607C6.30928 5.31335 5.90426 5.69215 5.40464 5.69215C4.90502 5.69215 4.5 5.31335 4.5 4.84607C4.5 4.3788 4.90502 4 5.40464 4C5.90426 4 6.30928 4.3788 6.30928 4.84607Z" fill="white"/>
                                                <path d="M4.62371 6.31405H6.1701V11H4.62371V6.31405Z" fill="white"/>
                                                <path d="M8.65979 6.31405H7.1134V11H8.65979C8.65979 11 8.65979 9.52479 8.65979 8.60243C8.65979 8.04881 8.84883 7.49277 9.60309 7.49277C10.4555 7.49277 10.4504 8.21727 10.4464 8.77855C10.4412 9.51222 10.4536 10.2609 10.4536 11H12V8.52686C11.9869 6.94769 11.5754 6.22004 10.2216 6.22004C9.4177 6.22004 8.91936 6.58503 8.65979 6.91525V6.31405Z" fill="white"/>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                     <!--   <div class="speakers__slide swiper-slide slide">
                            <img src="img/sp-1.jpg" alt="Speaker" class="slide__sp-img background-img">
                            <div class="slide__content">
                                <p class="slide__sp-name">Afolabi David</p>
                                <p class="slide__sp-position">Designer Manager, IBM</p>
                                <div class="slide__sp-socials">
                                    <a href="#" class="slide__sp-social">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="8" cy="8" r="7" fill="url(#paint0_linear_1_627)"/>
                                            <path d="M10.6069 10.1408L10.9178 8.16505H8.97261V6.8835C8.97261 6.34285 9.24383 5.81553 10.1151 5.81553H11V4.1335C11 4.1335 10.1973 4 9.43013 4C7.82742 4 6.78083 4.94647 6.78083 6.65922V8.16505H5V10.1408H6.78083V14.9172C7.13835 14.972 7.50412 15 7.87672 15C8.24932 15 8.61509 14.972 8.97261 14.9172V10.1408H10.6069Z" fill="white"/>
                                            <defs>
                                                <linearGradient id="paint0_linear_1_627" x1="8" y1="1" x2="8" y2="14.9585" gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#18ACFE"/>
                                                    <stop offset="1" stop-color="#0163E0"/>
                                                </linearGradient>
                                            </defs>
                                        </svg>
                                    </a>
                                    <a href="#" class="slide__sp-social">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect x="1" y="1" width="14" height="14" rx="6" fill="url(#paint0_radial_1_628)"/>
                                            <rect x="1" y="1" width="14" height="14" rx="6" fill="url(#paint1_radial_1_628)"/>
                                            <rect x="1" y="1" width="14" height="14" rx="6" fill="url(#paint2_radial_1_628)"/>
                                            <path d="M11.5 5.25C11.5 5.66421 11.1642 6 10.75 6C10.3358 6 10 5.66421 10 5.25C10 4.83579 10.3358 4.5 10.75 4.5C11.1642 4.5 11.5 4.83579 11.5 5.25Z" fill="white"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 10.5C9.38071 10.5 10.5 9.38071 10.5 8C10.5 6.61929 9.38071 5.5 8 5.5C6.61929 5.5 5.5 6.61929 5.5 8C5.5 9.38071 6.61929 10.5 8 10.5ZM8 9.5C8.82843 9.5 9.5 8.82843 9.5 8C9.5 7.17157 8.82843 6.5 8 6.5C7.17157 6.5 6.5 7.17157 6.5 8C6.5 8.82843 7.17157 9.5 8 9.5Z" fill="white"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3 7.8C3 6.11984 3 5.27976 3.32698 4.63803C3.6146 4.07354 4.07354 3.6146 4.63803 3.32698C5.27976 3 6.11984 3 7.8 3H8.2C9.88016 3 10.7202 3 11.362 3.32698C11.9265 3.6146 12.3854 4.07354 12.673 4.63803C13 5.27976 13 6.11984 13 7.8V8.2C13 9.88016 13 10.7202 12.673 11.362C12.3854 11.9265 11.9265 12.3854 11.362 12.673C10.7202 13 9.88016 13 8.2 13H7.8C6.11984 13 5.27976 13 4.63803 12.673C4.07354 12.3854 3.6146 11.9265 3.32698 11.362C3 10.7202 3 9.88016 3 8.2V7.8ZM7.8 4H8.2C9.05658 4 9.63887 4.00078 10.089 4.03755C10.5274 4.07337 10.7516 4.1383 10.908 4.21799C11.2843 4.40973 11.5903 4.71569 11.782 5.09202C11.8617 5.24842 11.9266 5.47262 11.9624 5.91104C11.9992 6.36113 12 6.94342 12 7.8V8.2C12 9.05658 11.9992 9.63887 11.9624 10.089C11.9266 10.5274 11.8617 10.7516 11.782 10.908C11.5903 11.2843 11.2843 11.5903 10.908 11.782C10.7516 11.8617 10.5274 11.9266 10.089 11.9624C9.63887 11.9992 9.05658 12 8.2 12H7.8C6.94342 12 6.36113 11.9992 5.91104 11.9624C5.47262 11.9266 5.24842 11.8617 5.09202 11.782C4.71569 11.5903 4.40973 11.2843 4.21799 10.908C4.1383 10.7516 4.07337 10.5274 4.03755 10.089C4.00078 9.63887 4 9.05658 4 8.2V7.8C4 6.94342 4.00078 6.36113 4.03755 5.91104C4.07337 5.47262 4.1383 5.24842 4.21799 5.09202C4.40973 4.71569 4.71569 4.40973 5.09202 4.21799C5.24842 4.1383 5.47262 4.07337 5.91104 4.03755C6.36113 4.00078 6.94342 4 7.8 4Z" fill="white"/>
                                            <defs>
                                                <radialGradient id="paint0_radial_1_628" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(6 11.5) rotate(-55.3758) scale(12.7598)">
                                                    <stop stop-color="#B13589"/>
                                                    <stop offset="0.79309" stop-color="#C62F94"/>
                                                    <stop offset="1" stop-color="#8A3AC8"/>
                                                </radialGradient>
                                                <radialGradient id="paint1_radial_1_628" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(5.5 15.5) rotate(-65.1363) scale(11.2971)">
                                                    <stop stop-color="#E0E8B7"/>
                                                    <stop offset="0.444662" stop-color="#FB8A2E"/>
                                                    <stop offset="0.71474" stop-color="#E2425C"/>
                                                    <stop offset="1" stop-color="#E2425C" stop-opacity="0"/>
                                                </radialGradient>
                                                <radialGradient id="paint2_radial_1_628" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(0.250001 1.5) rotate(-8.1301) scale(19.4454 4.15918)">
                                                    <stop offset="0.156701" stop-color="#406ADC"/>
                                                    <stop offset="0.467799" stop-color="#6A45BE"/>
                                                    <stop offset="1" stop-color="#6A45BE" stop-opacity="0"/>
                                                </radialGradient>
                                            </defs>
                                        </svg>

                                    </a>
                                    <a href="#" class="slide__sp-social">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect x="1" y="1" width="14" height="14" rx="7" fill="#1275B1"/>
                                            <path d="M6.30928 4.84607C6.30928 5.31335 5.90426 5.69215 5.40464 5.69215C4.90502 5.69215 4.5 5.31335 4.5 4.84607C4.5 4.3788 4.90502 4 5.40464 4C5.90426 4 6.30928 4.3788 6.30928 4.84607Z" fill="white"/>
                                            <path d="M4.62371 6.31405H6.1701V11H4.62371V6.31405Z" fill="white"/>
                                            <path d="M8.65979 6.31405H7.1134V11H8.65979C8.65979 11 8.65979 9.52479 8.65979 8.60243C8.65979 8.04881 8.84883 7.49277 9.60309 7.49277C10.4555 7.49277 10.4504 8.21727 10.4464 8.77855C10.4412 9.51222 10.4536 10.2609 10.4536 11H12V8.52686C11.9869 6.94769 11.5754 6.22004 10.2216 6.22004C9.4177 6.22004 8.91936 6.58503 8.65979 6.91525V6.31405Z" fill="white"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="speakers__slide swiper-slide slide">
                            <img src="img/sp-1.jpg" alt="Speaker" class="slide__sp-img background-img">
                            <div class="slide__content">
                                <p class="slide__sp-name">Afolabi David</p>
                                <p class="slide__sp-position">Designer Manager, IBM</p>
                                <div class="slide__sp-socials">
                                    <a href="#" class="slide__sp-social">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="8" cy="8" r="7" fill="url(#paint0_linear_1_627)"/>
                                            <path d="M10.6069 10.1408L10.9178 8.16505H8.97261V6.8835C8.97261 6.34285 9.24383 5.81553 10.1151 5.81553H11V4.1335C11 4.1335 10.1973 4 9.43013 4C7.82742 4 6.78083 4.94647 6.78083 6.65922V8.16505H5V10.1408H6.78083V14.9172C7.13835 14.972 7.50412 15 7.87672 15C8.24932 15 8.61509 14.972 8.97261 14.9172V10.1408H10.6069Z" fill="white"/>
                                            <defs>
                                                <linearGradient id="paint0_linear_1_627" x1="8" y1="1" x2="8" y2="14.9585" gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#18ACFE"/>
                                                    <stop offset="1" stop-color="#0163E0"/>
                                                </linearGradient>
                                            </defs>
                                        </svg>
                                    </a>
                                    <a href="#" class="slide__sp-social">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect x="1" y="1" width="14" height="14" rx="6" fill="url(#paint0_radial_1_628)"/>
                                            <rect x="1" y="1" width="14" height="14" rx="6" fill="url(#paint1_radial_1_628)"/>
                                            <rect x="1" y="1" width="14" height="14" rx="6" fill="url(#paint2_radial_1_628)"/>
                                            <path d="M11.5 5.25C11.5 5.66421 11.1642 6 10.75 6C10.3358 6 10 5.66421 10 5.25C10 4.83579 10.3358 4.5 10.75 4.5C11.1642 4.5 11.5 4.83579 11.5 5.25Z" fill="white"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 10.5C9.38071 10.5 10.5 9.38071 10.5 8C10.5 6.61929 9.38071 5.5 8 5.5C6.61929 5.5 5.5 6.61929 5.5 8C5.5 9.38071 6.61929 10.5 8 10.5ZM8 9.5C8.82843 9.5 9.5 8.82843 9.5 8C9.5 7.17157 8.82843 6.5 8 6.5C7.17157 6.5 6.5 7.17157 6.5 8C6.5 8.82843 7.17157 9.5 8 9.5Z" fill="white"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3 7.8C3 6.11984 3 5.27976 3.32698 4.63803C3.6146 4.07354 4.07354 3.6146 4.63803 3.32698C5.27976 3 6.11984 3 7.8 3H8.2C9.88016 3 10.7202 3 11.362 3.32698C11.9265 3.6146 12.3854 4.07354 12.673 4.63803C13 5.27976 13 6.11984 13 7.8V8.2C13 9.88016 13 10.7202 12.673 11.362C12.3854 11.9265 11.9265 12.3854 11.362 12.673C10.7202 13 9.88016 13 8.2 13H7.8C6.11984 13 5.27976 13 4.63803 12.673C4.07354 12.3854 3.6146 11.9265 3.32698 11.362C3 10.7202 3 9.88016 3 8.2V7.8ZM7.8 4H8.2C9.05658 4 9.63887 4.00078 10.089 4.03755C10.5274 4.07337 10.7516 4.1383 10.908 4.21799C11.2843 4.40973 11.5903 4.71569 11.782 5.09202C11.8617 5.24842 11.9266 5.47262 11.9624 5.91104C11.9992 6.36113 12 6.94342 12 7.8V8.2C12 9.05658 11.9992 9.63887 11.9624 10.089C11.9266 10.5274 11.8617 10.7516 11.782 10.908C11.5903 11.2843 11.2843 11.5903 10.908 11.782C10.7516 11.8617 10.5274 11.9266 10.089 11.9624C9.63887 11.9992 9.05658 12 8.2 12H7.8C6.94342 12 6.36113 11.9992 5.91104 11.9624C5.47262 11.9266 5.24842 11.8617 5.09202 11.782C4.71569 11.5903 4.40973 11.2843 4.21799 10.908C4.1383 10.7516 4.07337 10.5274 4.03755 10.089C4.00078 9.63887 4 9.05658 4 8.2V7.8C4 6.94342 4.00078 6.36113 4.03755 5.91104C4.07337 5.47262 4.1383 5.24842 4.21799 5.09202C4.40973 4.71569 4.71569 4.40973 5.09202 4.21799C5.24842 4.1383 5.47262 4.07337 5.91104 4.03755C6.36113 4.00078 6.94342 4 7.8 4Z" fill="white"/>
                                            <defs>
                                                <radialGradient id="paint0_radial_1_628" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(6 11.5) rotate(-55.3758) scale(12.7598)">
                                                    <stop stop-color="#B13589"/>
                                                    <stop offset="0.79309" stop-color="#C62F94"/>
                                                    <stop offset="1" stop-color="#8A3AC8"/>
                                                </radialGradient>
                                                <radialGradient id="paint1_radial_1_628" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(5.5 15.5) rotate(-65.1363) scale(11.2971)">
                                                    <stop stop-color="#E0E8B7"/>
                                                    <stop offset="0.444662" stop-color="#FB8A2E"/>
                                                    <stop offset="0.71474" stop-color="#E2425C"/>
                                                    <stop offset="1" stop-color="#E2425C" stop-opacity="0"/>
                                                </radialGradient>
                                                <radialGradient id="paint2_radial_1_628" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(0.250001 1.5) rotate(-8.1301) scale(19.4454 4.15918)">
                                                    <stop offset="0.156701" stop-color="#406ADC"/>
                                                    <stop offset="0.467799" stop-color="#6A45BE"/>
                                                    <stop offset="1" stop-color="#6A45BE" stop-opacity="0"/>
                                                </radialGradient>
                                            </defs>
                                        </svg>

                                    </a>
                                    <a href="#" class="slide__sp-social">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect x="1" y="1" width="14" height="14" rx="7" fill="#1275B1"/>
                                            <path d="M6.30928 4.84607C6.30928 5.31335 5.90426 5.69215 5.40464 5.69215C4.90502 5.69215 4.5 5.31335 4.5 4.84607C4.5 4.3788 4.90502 4 5.40464 4C5.90426 4 6.30928 4.3788 6.30928 4.84607Z" fill="white"/>
                                            <path d="M4.62371 6.31405H6.1701V11H4.62371V6.31405Z" fill="white"/>
                                            <path d="M8.65979 6.31405H7.1134V11H8.65979C8.65979 11 8.65979 9.52479 8.65979 8.60243C8.65979 8.04881 8.84883 7.49277 9.60309 7.49277C10.4555 7.49277 10.4504 8.21727 10.4464 8.77855C10.4412 9.51222 10.4536 10.2609 10.4536 11H12V8.52686C11.9869 6.94769 11.5754 6.22004 10.2216 6.22004C9.4177 6.22004 8.91936 6.58503 8.65979 6.91525V6.31405Z" fill="white"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
            <div class="speakers__txt">
                <div class="speakers__txt-inner">
                    <h2 class="speakers__title">
                        Meet with Graeter's Speakers
                    </h2>
                    <p class="speakers__desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit quis dui lacus. Aenean purus ut ac
                        sit. Nullam habitant at tempus ut. Enim turpis sollicitudin magna nunc facilisis odo.Lorem ipsum
                        dolor sit amet, consectetur adipiscing sit quis dui lacus. Aenean purus ut ac sit.
                    </p>
                    <a href="#" class="speakers__all-btn">View All Speaker</a>
                </div>
                <div class="speakers__slider-nav">
                    <button class="speakers__nav-btn speakers__prev" type="button">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 0L9.425 1.4L3.825 7H16V9H3.825L9.425 14.6L8 16L0 8L8 0Z" fill="white"/>
                        </svg>
                    </button>
                    <button class="speakers__nav-btn speakers__next" type="button">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M-3.0598e-07 7L12.175 7L6.575 1.4L8 -3.49691e-07L16 8L8 16L6.575 14.6L12.175 9L-3.93402e-07 9L-3.0598e-07 7Z" fill="white"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>