<section class="sponsors">
    <div class="content">
        <div class="sponsors__row">
            <header class="sponsors__header">
                <h2 class="sponsors__title">Our Meetup Sponsor</h2>
                <div class="sponsors__title-line"></div>
            </header>
            <div class="sponsors__items">

                <div class="sponsors__item">
                    <img src="img/sponsor-1.png" alt="Sponsor" class="sponsors__img">
                </div>
                <div class="sponsors__item">
                    <img src="img/sponsor-2.png" alt="Sponsor" class="sponsors__img">
                </div>
                <div class="sponsors__item">
                    <img src="img/sponsor-3.png" alt="Sponsor" class="sponsors__img">
                </div>
                <div class="sponsors__item">
                    <img src="img/sponsor-4.png" alt="Sponsor" class="sponsors__img">
                </div>
                <div class="sponsors__item">
                    <img src="img/sponsor-5.png" alt="Sponsor" class="sponsors__img">
                </div>
                <div class="sponsors__item">
                    <img src="img/sponsor-6.png" alt="Sponsor" class="sponsors__img">
                </div>
                <div class="sponsors__item">
                    <img src="img/sponsor-7.png" alt="Sponsor" class="sponsors__img">
                </div>
                <div class="sponsors__item">
                    <img src="img/sponsor-8.png" alt="Sponsor" class="sponsors__img">
                </div>
                <div class="sponsors__item">
                    <img src="img/sponsor-9.png" alt="Sponsor" class="sponsors__img">
                </div>
            </div>
            <div class="sponsors__btn-wrapper">
                <a href="#" class="sponsors__btn">
                    Became a Sponsor
                </a>
            </div>
        </div>
    </div>
</section>