<section class="venue">
  <div class="content">
    <img src="img/venue-dots.png" alt="Dots" class="venue__img-dots">
    <div class="venue__row">
      <div class="venue__pictures">
        <div class="venue__img-outer venue__img-outer--left">
          <div class="venue__img-inner">
            <img src="img/venue-1.jpg" alt="Venue" class="venue__img">
          </div>
          <div class="venue__img-b-wrapper">
            <img src="img/venue-box.png" alt="Square" class="venue__img-box">
          </div>
        </div>

        <div class="venue__img-outer venue__img-outer--right">
          <div class="venue__img-t-wrapper">
            <img src="img/venue-triangles.png" alt="Triangles" class="venue__img-triangles">
          </div>
          <div class="venue__img-inner ">
            <img src="img/venue-2.jpg" alt="Venue" class="venue__img">
          </div>
        </div>

      </div>
      <div class="venue__txt">
        <h2 class="venue__title">Explore Meetup Venue</h2>
        <p class="venue__subtitle">Bangabandhu International Conference Center (BICC)</p>
        <p class="venue__desc">Bangabandhu International Conference Center (BICC) is the only multi-purpose convention
          facility in the country, having 17 (seventeen) venues for holding small to large scale events,
        </p>
        <div class="venue__btn-wrapper">
          <a href="#" class="venue__btn venue__direction-btn">
            <span class="venue__btn-txt">Get Direction</span>
            <span class="venue__svg-wrapper">
              <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 14H2V10C2 9.16667 2.29167 8.45833 2.875 7.875C3.45833 7.29167 4.16667 7 5 7H14.2L10.6 10.6L12 12L18 6L12 0L10.6 1.4L14.2 5H5C3.61667 5 2.43767 5.48733 1.463 6.462C0.487666 7.43733 0 8.61667 0 10V14Z" fill="white"/>
              </svg>
            </span>
          </a>
          <a href="#" class="venue__btn venue__tour-btn">
            <span class="venue__svg-wrapper">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 18.55L5 15.675C4.68333 15.4917 4.43767 15.246 4.263 14.938C4.08767 14.6293 4 14.2917 4 13.925V8.2C4 7.83333 4.08767 7.49567 4.263 7.187C4.43767 6.879 4.68333 6.63333 5 6.45L10 3.575C10.3167 3.39167 10.65 3.3 11 3.3C11.35 3.3 11.6833 3.39167 12 3.575L17 6.45C17.3167 6.63333 17.5627 6.879 17.738 7.187C17.9127 7.49567 18 7.83333 18 8.2V13.925C18 14.2917 17.9127 14.6293 17.738 14.938C17.5627 15.246 17.3167 15.4917 17 15.675L12 18.55C11.6833 18.7333 11.35 18.825 11 18.825C10.65 18.825 10.3167 18.7333 10 18.55ZM10 16.25V11.65L6 9.35V13.95L10 16.25ZM12 16.25L16 13.95V9.35L12 11.65V16.25ZM0 5V3C0 2.16667 0.291667 1.45833 0.875 0.875C1.45833 0.291667 2.16667 0 3 0H5V2H3C2.71667 2 2.47933 2.09567 2.288 2.287C2.096 2.479 2 2.71667 2 3V5H0ZM3 22C2.16667 22 1.45833 21.7083 0.875 21.125C0.291667 20.5417 0 19.8333 0 19V17H2V19C2 19.2833 2.096 19.5207 2.288 19.712C2.47933 19.904 2.71667 20 3 20H5V22H3ZM17 22V20H19C19.2833 20 19.5207 19.904 19.712 19.712C19.904 19.5207 20 19.2833 20 19V17H22V19C22 19.8333 21.7083 20.5417 21.125 21.125C20.5417 21.7083 19.8333 22 19 22H17ZM20 5V3C20 2.71667 19.904 2.479 19.712 2.287C19.5207 2.09567 19.2833 2 19 2H17V0H19C19.8333 0 20.5417 0.291667 21.125 0.875C21.7083 1.45833 22 2.16667 22 3V5H20ZM11 9.9L15 7.6L11 5.3L7 7.6L11 9.9Z" fill="white"/>
              </svg>
            </span>
            <span class="venue__btn-txt">Virtual Tour</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>